In [205]:
import pandas as pd
#https://docs.google.com/spreadsheets/d/1FPaF_fgOJIEdoJEWS2JS2rlnuyaa1Bl2LZdKUl9egwo/edit?usp=sharing

In [206]:

Zip_Zhvi_AllHomes = pd.read_csv('http://files.zillowstatic.com/research/public/Zip/Zip_Zhvi_AllHomes.csv')
#Zip_Zhvi_AllHomes.iloc[1,:]

In [208]:
Zip_Zhvi_AllHomesT= Zip_Zhvi_AllHomes.transpose()
 #.iloc[0,:]
#df.drop()
Zip_Zhvi_AllHomesT.drop(Zip_Zhvi_AllHomesT.index[2:7], inplace= True)
Zip_Zhvi_AllHomesT.drop(Zip_Zhvi_AllHomesT.index[0], inplace= True)
Zip_Zhvi_AllHomesT.columns = Zip_Zhvi_AllHomesT.iloc[0]
Zip_Zhvi_AllHomesT.drop(Zip_Zhvi_AllHomesT.index[0], inplace= True)
Zip_Zhvi_AllHomesT = Zip_Zhvi_AllHomesT.pct_change()

Zip_Zhvi_AllHomesT = Zip_Zhvi_AllHomesT.reset_index()

#>>> pd.melt(df, id_vars=['A'], value_vars=['B', 'C'])
Zip_Zhvi_AllHomesT.head()

RegionName,index,10025,60657,75070,60614,79936,77084,10467,60640,77449,...,21840,59231,12429,54844,97028,12720,97102,1338,3293,21405
0,1996-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1996-05,NaN,-0.001363,NaN,-0.012626,0.002825,-0.002646,NaN,-0.009775,0.002774,...,NaN,NaN,0.001326,-0.000498,NaN,-0.007299,NaN,-0.008089,0.013228,0.001972
2,1996-06,NaN,-0.001365,NaN,-0.006650,0.000000,-0.003979,NaN,-0.005923,-0.002766,...,NaN,NaN,0.003974,0.000498,NaN,0.026471,NaN,-0.003058,0.031332,0.005118
3,1996-07,NaN,0.000000,NaN,-0.002060,0.005634,0.000000,NaN,-0.000993,-0.008322,...,NaN,NaN,0.006596,0.000000,NaN,0.008596,NaN,-0.002045,0.000000,0.011359
4,1996-08,NaN,0.003418,NaN,0.000516,-0.002801,-0.002663,NaN,0.000994,-0.004196,...,NaN,NaN,0.011796,-0.000498,NaN,-0.048295,NaN,-0.007172,-0.043038,0.010844

In [69]:
#Zip_Zhvi_AllHomes.count()

In [209]:
Zip_Zhvi_AllHomesT = pd.melt(Zip_Zhvi_AllHomesT,  id_vars='index', var_name='zip', value_name='price')
Zip_Zhvi_AllHomesT.head()

     index    zip  price
0  1996-04  10025    NaN
1  1996-05  10025    NaN
2  1996-06  10025    NaN
3  1996-07  10025    NaN
4  1996-08  10025    NaN

In [210]:
Zip_Zhvi_AllHomesT['index'] =  pd.to_datetime(Zip_Zhvi_AllHomesT['index'], format='%Y-%m')
Zip_Zhvi_AllHomesT.head()

       index    zip  price
0 1996-04-01  10025    NaN
1 1996-05-01  10025    NaN
2 1996-06-01  10025    NaN
3 1996-07-01  10025    NaN
4 1996-08-01  10025    NaN

In [212]:
Zip_Zhvi_AllHomesT.head()

       index    zip  price
0 1996-04-01  10025    NaN
1 1996-05-01  10025    NaN
2 1996-06-01  10025    NaN
3 1996-07-01  10025    NaN
4 1996-08-01  10025    NaN

In [213]:
AllRegionsForePublic = pd.read_csv('http://files.zillowstatic.com/research/public/AllRegionsForePublic.csv')

In [214]:
AllRegionsForePublic.head()

,Region,RegionName,State,ForecastYoYPctChange,MSAName,CountyName,CityName
0,National,United States,US,3.460955,NaN,NaN,NaN
1,MSA,"Akron, OH",OH,2.701606,"Akron, OH",NaN,NaN
2,MSA,"Albany, GA",GA,3.409518,"Albany, GA",NaN,NaN
3,MSA,"Albany, NY",NY,2.976953,"Albany, NY",NaN,NaN
4,MSA,"Albuquerque, NM",NM,2.612778,"Albuquerque, NM",NaN,NaN

In [373]:
coest2016alldata = pd.read_csv('https://www2.census.gov/programs-surveys/popest/datasets/2010-2016/counties/totals/co-est2016-alldata.csv',encoding = "ISO-8859-1")

In [374]:

 #.shape
coest2016alldata = coest2016alldata [coest2016alldata['COUNTY'] !=0]
coest2016alldata.head()

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RDOMESTICMIG2016,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015,RNETMIG2016
1,50,3,6,1,1,Alabama,Autauga County,54571,54571,54742,...,-4.607582,2.149969,-2.799695,4.128528,6.163804,-5.295515,-4.571158,2.259290,-2.654256,4.255281
2,50,3,6,1,3,Alabama,Baldwin County,182265,182265,183199,...,21.672935,19.038117,17.311339,19.628723,15.757654,18.612620,22.757100,20.248574,18.585398,20.807611
3,50,3,6,1,5,Alabama,Barbour County,27457,27457,27348,...,-7.027927,-4.208488,-16.593442,-9.495549,-1.280316,-7.418561,-7.360829,-4.506434,-16.819716,-9.686991
4,50,3,6,1,7,Alabama,Bibb County,22915,22919,22861,...,-6.556506,0.088865,0.088747,1.504292,-4.956466,-4.318988,-5.980596,0.888652,0.887469,2.300681
5,50,3,6,1,9,Alabama,Blount County,57322,57324,57376,...,-1.627452,-2.791093,-1.405067,-1.126712,1.755255,-0.848639,-1.125366,-2.236341,-0.780593,-0.468019

In [375]:
states = {
        'AK': 'Alaska',
        'AL': 'Alabama',
        'AR': 'Arkansas',
        'AS': 'American Samoa',
        'AZ': 'Arizona',
        'CA': 'California',
        'CO': 'Colorado',
        'CT': 'Connecticut',
        'DC': 'District of Columbia',
        'DE': 'Delaware',
        'FL': 'Florida',
        'GA': 'Georgia',
        'GU': 'Guam',
        'HI': 'Hawaii',
        'IA': 'Iowa',
        'ID': 'Idaho',
        'IL': 'Illinois',
        'IN': 'Indiana',
        'KS': 'Kansas',
        'KY': 'Kentucky',
        'LA': 'Louisiana',
        'MA': 'Massachusetts',
        'MD': 'Maryland',
        'ME': 'Maine',
        'MI': 'Michigan',
        'MN': 'Minnesota',
        'MO': 'Missouri',
        'MP': 'Northern Mariana Islands',
        'MS': 'Mississippi',
        'MT': 'Montana',
        'NA': 'National',
        'NC': 'North Carolina',
        'ND': 'North Dakota',
        'NE': 'Nebraska',
        'NH': 'New Hampshire',
        'NJ': 'New Jersey',
        'NM': 'New Mexico',
        'NV': 'Nevada',
        'NY': 'New York',
        'OH': 'Ohio',
        'OK': 'Oklahoma',
        'OR': 'Oregon',
        'PA': 'Pennsylvania',
        'PR': 'Puerto Rico',
        'RI': 'Rhode Island',
        'SC': 'South Carolina',
        'SD': 'South Dakota',
        'TN': 'Tennessee',
        'TX': 'Texas',
        'UT': 'Utah',
        'VA': 'Virginia',
        'VI': 'Virgin Islands',
        'VT': 'Vermont',
        'WA': 'Washington',
        'WI': 'Wisconsin',
        'WV': 'West Virginia',
        'WY': 'Wyoming'
}

In [376]:
states
states = dict (zip(states.values(),states.keys()))

states

{'Alabama': 'AL',
 'Alaska': 'AK',
 'American Samoa': 'AS',
 'Arizona': 'AZ',
 'Arkansas': 'AR',
 'California': 'CA',
 'Colorado': 'CO',
 'Connecticut': 'CT',
 'Delaware': 'DE',
 'District of Columbia': 'DC',
 'Florida': 'FL',
 'Georgia': 'GA',
 'Guam': 'GU',
 'Hawaii': 'HI',
 'Idaho': 'ID',
 'Illinois': 'IL',
 'Indiana': 'IN',
 'Iowa': 'IA',
 'Kansas': 'KS',
 'Kentucky': 'KY',
 'Louisiana': 'LA',
 'Maine': 'ME',
 'Maryland': 'MD',
 'Massachusetts': 'MA',
 'Michigan': 'MI',
 'Minnesota': 'MN',
 'Mississippi': 'MS',
 'Missouri': 'MO',
 'Montana': 'MT',
 'National': 'NA',
 'Nebraska': 'NE',
 'Nevada': 'NV',
 'New Hampshire': 'NH',
 'New Jersey': 'NJ',
 'New Mexico': 'NM',
 'New York': 'NY',
 'North Carolina': 'NC',
 'North Dakota': 'ND',
 'Northern Mariana Islands': 'MP',
 'Ohio': 'OH',
 'Oklahoma': 'OK',
 'Oregon': 'OR',
 'Pennsylvania': 'PA',
 'Puerto Rico': 'PR',
 'Rhode Island': 'RI',
 'South Carolina': 'SC',
 'South Dakota': 'SD',
 'Tennessee': 'TN',
 'Texas': 'TX',
 'Utah': 'UT',
 'Vermont': 'VT',
 'Virgin Islands': 'VI',
 'Virginia': 'VA',
 'Washington': 'WA',
 'West Virginia': 'WV',
 'Wisconsin': 'WI',
 'Wyoming': 'WY'}

In [377]:
#coest2016alldata = 
coest2016alldata = coest2016alldata.replace({"STNAME": states})
#coest2016alldata

In [378]:
coest2016alldata['CTYNAME'] = coest2016alldata['CTYNAME'] + ''+ coest2016alldata['STNAME']

#coest2016alldata.set_index('STNAME', inplace=True)
coest2016alldata['CTYNAME'] = coest2016alldata['CTYNAME'].str.replace('County','')
coest2016alldata.head() #.columns[67:77]

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RDOMESTICMIG2016,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015,RNETMIG2016
1,50,3,6,1,1,AL,Autauga AL,54571,54571,54742,...,-4.607582,2.149969,-2.799695,4.128528,6.163804,-5.295515,-4.571158,2.259290,-2.654256,4.255281
2,50,3,6,1,3,AL,Baldwin AL,182265,182265,183199,...,21.672935,19.038117,17.311339,19.628723,15.757654,18.612620,22.757100,20.248574,18.585398,20.807611
3,50,3,6,1,5,AL,Barbour AL,27457,27457,27348,...,-7.027927,-4.208488,-16.593442,-9.495549,-1.280316,-7.418561,-7.360829,-4.506434,-16.819716,-9.686991
4,50,3,6,1,7,AL,Bibb AL,22915,22919,22861,...,-6.556506,0.088865,0.088747,1.504292,-4.956466,-4.318988,-5.980596,0.888652,0.887469,2.300681
5,50,3,6,1,9,AL,Blount AL,57322,57324,57376,...,-1.627452,-2.791093,-1.405067,-1.126712,1.755255,-0.848639,-1.125366,-2.236341,-0.780593,-0.468019

In [379]:
listofcols = coest2016alldata.columns #[67:77]
listofcols[77:87]

Index(['GQESTIMATES2014', 'GQESTIMATES2015', 'GQESTIMATES2016', 'RBIRTH2011',
       'RBIRTH2012', 'RBIRTH2013', 'RBIRTH2014', 'RBIRTH2015', 'RBIRTH2016',
       'RDEATH2011'],
      dtype='object')

In [380]:

coest2016alldata.set_index('CTYNAME', inplace=True)
coest2016alldata

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,POPESTIMATE2011,...,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RDOMESTICMIG2016,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015,RNETMIG2016
CTYNAME,,,,,,,,,,,,,,,,,,,,,
Autauga AL,50,3,6,1,1,AL,54571,54571,54742,55255,...,-4.607582,2.149969,-2.799695,4.128528,6.163804,-5.295515,-4.571158,2.259290,-2.654256,4.255281
Baldwin AL,50,3,6,1,3,AL,182265,182265,183199,186653,...,21.672935,19.038117,17.311339,19.628723,15.757654,18.612620,22.757100,20.248574,18.585398,20.807611
Barbour AL,50,3,6,1,5,AL,27457,27457,27348,27326,...,-7.027927,-4.208488,-16.593442,-9.495549,-1.280316,-7.418561,-7.360829,-4.506434,-16.819716,-9.686991
Bibb AL,50,3,6,1,7,AL,22915,22919,22861,22736,...,-6.556506,0.088865,0.088747,1.504292,-4.956466,-4.318988,-5.980596,0.888652,0.887469,2.300681
Blount AL,50,3,6,1,9,AL,57322,57324,57376,57707,...,-1.627452,-2.791093,-1.405067,-1.126712,1.755255,-0.848639,-1.125366,-2.236341,-0.780593,-0.468019
Bullock AL,50,3,6,1,11,AL,10914,10911,10892,10722,...,-8.666981,10.992108,-26.456276,-9.703608,-20.634774,-6.923653,-7.819124,11.931605,-25.605896,-8.838930
Butler AL,50,3,6,1,13,AL,20947,20946,20938,20848,...,-15.221368,-0.393963,-7.424089,-6.330376,-4.929881,-7.467540,-14.879863,0.000000,-7.028137,-5.931612
Calhoun AL,50,3,6,1,15,AL,118572,118586,118468,117736,...,-5.537416,-4.459520,-3.954621,-4.019209,-6.341976,-4.494688,-5.314892,-4.252901,-3.703672,-3.784320
Chambers AL,50,3,6,1,17,AL,34215,34170,34101,34006,...,2.052575,-3.435165,1.440350,-4.566479,-1.585740,4.611544,2.551058,-2.877318,1.969459,-4.036178
Cherokee AL,50,3,6,1,19,AL,25989,25986,25977,26073,...,5.375209,-0.653620,-3.599768,5.286583,6.186359,1.382223,5.567181,-0.461379,-3.406232,5.480943
Chilton AL,50,3,6,1,21,AL,43643,43631,43675,43758,...,0.320139,0.136919,-3.398606,1.435897,-0.709114,-3.018833,0.388740,0.410757,-3.124893,1.732194
Choctaw AL,50,3,6,1,23,AL,13859,13858,13840,13610,...,-8.688226,-1.948003,-5.507148,-13.285485,-14.426230,-1.472808,-8.762485,-2.022927,-5.582588,-13.361839
Clarke AL,50,3,6,1,25,AL,25833,25833,25762,25549,...,-0.915368,-8.405548,-6.977495,-13.274156,-6.821149,-16.490128,-0.756174,-8.205416,-6.775833,-13.070565
Clay AL,50,3,6,1,27,AL,13932,13932,13882,13676,...,4.605385,4.598213,2.815023,3.186720,-10.523260,-13.413421,4.456825,4.524048,2.740944,3.112610
Cleburne AL,50,3,6,1,29,AL,14972,14972,14975,14976,...,7.276611,3.188627,-2.793296,-3.409091,-3.539114,-4.949171,7.209853,3.122197,-2.859803,-3.475936
Coffee AL,50,3,6,1,31,AL,49948,49948,50183,50484,...,-13.188237,-4.079380,2.101748,0.645231,2.721845,10.918319,-11.088324,-1.970715,4.498134,2.287636
Colbert AL,50,3,6,1,33,AL,54428,54428,54521,54460,...,1.303362,1.800097,0.036791,0.589802,0.715721,1.560306,1.542006,2.038886,0.275933,0.829409
Conecuh AL,50,3,6,1,35,AL,13228,13228,13209,13193,...,-7.652765,-15.851218,0.872393,-9.843150,0.227256,-12.366412,-7.575465,-15.694276,1.031010,-9.683099
Coosa AL,50,3,6,1,37,AL,11539,11758,11758,11369,...,-4.851970,-23.430350,-7.169126,-8.369381,-31.997233,-11.519716,-5.031673,-23.613399,-7.169126,-8.369381
Covington AL,50,3,6,1,39,AL,37765,37765,37801,38066,...,1.742988,-0.290678,-2.040925,-2.928686,6.933186,-4.110239,1.795806,-0.237828,-1.987913,-2.875438
Crenshaw AL,50,3,6,1,41,AL,13906,13898,13857,13903,...,-3.166151,3.168659,2.952402,4.678110,2.953890,2.587787,-2.518529,3.960824,3.744509,5.397819
Cullman AL,50,3,6,1,43,AL,80406,80410,80476,80457,...,4.171788,4.336063,7.140009,6.815596,-1.193043,-0.733794,4.494605,4.681960,7.495783,7.156375
Dale AL,50,3,6,1,45,AL,50251,50247,50360,50119,...,-15.512399,-12.930948,-5.346348,-5.558035,-9.574140,-1.473883,-13.733271,-11.377620,-3.179457,-4.624934
Dallas AL,50,3,6,1,47,AL,43820,43820,43820,43207,...,-17.804435,-9.846434,-15.116773,-19.604208,-15.512427,-12.843930,-17.922501,-9.966220,-15.213831,-19.678372
DeKalb AL,50,3,6,1,49,AL,71109,71115,71143,71389,...,-1.748412,-0.648668,0.000000,-2.114225,1.417226,-8.401826,-1.128008,0.155116,0.789049,-1.324914
Elmore AL,50,3,6,1,51,AL,79303,79296,79573,80030,...,0.646155,-1.957202,1.777427,3.471605,2.518750,-0.411674,1.354441,-1.201573,2.641454,4.109497
Escambia AL,50,3,6,1,53,AL,38319,38319,38314,38227,...,-5.082960,0.528018,0.184928,-2.250017,-2.978796,-3.434264,-5.056624,0.554419,0.237765,-2.197075
Etowah AL,50,3,6,1,55,AL,104430,104427,104449,104236,...,-2.144179,-2.288075,-2.366129,0.428355,-0.757122,2.254727,-1.913416,-2.027409,-2.104304,0.691209
Fayette AL,50,3,6,1,57,AL,17241,17241,17231,17063,...,-3.961684,0.356305,-3.338898,-5.891370,-5.073774,-0.411414,-4.020814,0.296921,-3.398521,-5.951486
Franklin AL,50,3,6,1,59,AL,31704,31709,31734,31734,...,-8.170116,-0.983425,-2.980248,1.044800,0.189072,-3.565456,-5.953418,1.554445,-0.253638,3.830932
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Washburn WI,50,2,3,55,129,WI,15911,15911,15930,15792,...,-6.725888,4.015808,-5.438782,10.896039,-6.178677,7.838923,-6.281726,4.462009,-4.990882,11.344699
Washington WI,50,2,3,55,131,WI,131887,131887,131996,132292,...,-2.214122,1.532256,-0.217027,1.104020,-0.423780,1.282927,-1.694481,2.148163,0.434054,1.745546
Waukesha WI,50,2,3,55,133,WI,389891,389936,390083,390811,...,0.101682,0.765097,-0.942283,3.435107,0.120375,3.193282,1.309153,2.107818,0.452195,4.781468
Waupaca WI,50,2,3,55,135,WI,52410,52410,52425,52322,...,7.267358,-0.996455,0.288370,-3.093043,2.978606,-1.494797,7.535809,-0.670691,0.634414,-2.745075
Waushara WI,50,2,3,55,137,WI,24496,24496,24507,24579,...,-4.343995,-4.617605,-4.188525,4.522540,4.930123,-2.283012,-3.975165,-4.246547,-3.815290,4.895961
Winnebago WI,50,2,3,55,139,WI,166994,166994,167061,167646,...,0.768590,-2.210961,-4.704273,-0.771835,0.878380,3.697869,1.424847,-1.444495,-3.908438,0.017676
Wood WI,50,2,3,55,141,WI,74749,74749,74785,74588,...,-6.977152,-5.834227,-3.732919,-2.431777,-3.641890,-4.795358,-6.761225,-5.617139,-3.528562,-2.240514
Albany WY,50,4,8,56,1,WY,36299,36299,36428,36895,...,-2.506667,-4.822342,-4.267369,-6.654877,6.355441,5.871342,1.226667,-0.529928,0.131709,-2.358027
Big Horn WY,50,4,8,56,3,WY,11668,11668,11673,11742,...,15.404040,-7.957449,5.190674,-0.916819,4.527013,3.145857,15.656566,-7.538636,5.609276,-0.500083
Campbell WY,50,4,8,56,5,WY,46133,46133,46246,46594,...,-6.125766,-8.551532,12.134380,-20.787479,-2.757432,15.476468,-5.813227,-8.074141,12.646812,-20.298361
Carbon WY,50,4,8,56,7,WY,15885,15885,15837,15824,...,3.748412,-2.972050,-21.540324,0.128320,-6.885443,-12.950325,4.193139,-2.466169,-21.094223,0.577441
Converse WY,50,4,8,56,9,WY,13833,13833,13827,13730,...,18.737013,-18.482218,0.420595,-17.536476,-12.628370,17.071853,20.286690,-16.802016,2.243174,-15.712682
Crook WY,50,4,8,56,11,WY,7083,7083,7115,7139,...,0.838809,5.281078,18.701795,1.881973,0.000000,-4.618291,0.838809,5.281078,18.701795,1.881973
Fremont WY,50,4,8,56,13,WY,40123,40123,40222,40595,...,-5.308011,-13.930714,-11.772691,-4.690001,3.118156,7.855613,-5.137570,-13.685886,-11.451842,-4.367408
Goshen WY,50,4,8,56,15,WY,13249,13247,13405,13592,...,-8.087343,-2.214594,0.442184,-16.307168,14.816461,4.477393,-7.278609,-0.959657,1.768738,-15.047068
Hot Springs WY,50,4,8,56,17,WY,4812,4812,4813,4819,...,2.065476,-4.358203,-6.497590,-9.974533,5.398671,5.588905,2.065476,-4.358203,-6.497590,-9.974533
Johnson WY,50,4,8,56,19,WY,8569,8569,8581,8632,...,-0.812678,-9.196205,2.099248,-13.237275,4.880033,-3.828306,-0.464387,-8.614167,2.682372,-12.651555
Laramie WY,50,4,8,56,21,WY,91738,91881,92272,92637,...,4.928846,-2.539114,2.843156,4.689764,-1.168142,17.009743,6.313118,-1.373619,4.404307,5.590854
Lincoln WY,50,4,8,56,23,WY,18106,18106,18090,18018,...,13.345466,6.015119,2.892573,12.359046,-9.748532,-11.680294,13.786638,6.557022,3.428235,12.887211
Natrona WY,50,4,8,56,25,WY,75450,75450,75474,76410,...,25.085476,-2.116610,2.652439,-20.241377,7.479392,22.630506,25.461195,-1.710517,3.153591,-19.751271
Niobrara WY,50,4,8,56,27,WY,2484,2484,2492,2487,...,28.286853,-22.235458,5.212510,-12.457304,-0.401687,0.000000,28.286853,-22.235458,5.212510,-12.457304
Park WY,50,4,8,56,29,WY,28205,28205,28258,28476,...,5.419867,-3.851113,-4.301075,7.533086,6.627419,10.293989,6.835246,-2.372561,-2.787097,9.039703
Platte WY,50,4,8,56,31,WY,8667,8667,8677,8703,...,-0.917484,9.612084,3.640501,-15.441807,4.948216,5.160846,-1.032169,9.726513,3.754266,-15.327424
Sheridan WY,50,4,8,56,33,WY,29116,29116,29146,29285,...,4.380275,3.312643,0.732564,3.617117,2.498674,8.494012,5.424802,4.383397,1.898007,4.745391
Sublette WY,50,4,8,56,35,WY,10247,10247,10243,10145,...,-39.617486,-14.725636,-20.104544,-18.527945,-20.894644,16.148645,-39.519906,-14.626138,-19.903498,-18.324341
Sweetwater WY,50,4,8,56,37,WY,43806,43806,43589,44028,...,-5.408401,-12.362119,-13.695727,-20.009453,1.004371,16.069304,-5.297573,-12.228954,-13.472670,-19.784375
Teton WY,50,4,8,56,39,WY,21294,21294,21297,21474,...,18.906083,13.904572,1.045319,-4.712087,0.374085,2.270516,20.314950,15.720137,3.179512,-2.637040
Uinta WY,50,4,8,56,41,WY,21118,21118,21102,20918,...,-7.856582,-14.184397,-11.033821,-9.761493,-17.705854,-5.439580,-8.713663,-14.948540,-11.753418,-10.434699
Washakie WY,50,4,8,56,43,WY,8533,8533,8544,8470,...,-1.184904,-17.315500,2.644231,-11.467198,-11.872576,-2.129296,-1.658866,-17.793169,2.163462,-11.950027
Weston WY,50,4,8,56,45,WY,7208,7208,7182,7112,...,12.229407,1.533956,6.107294,2.212084,-12.452777,-7.617973,12.791678,1.952308,6.662503,2.765104

In [381]:
# lofc = []
# for colname in listofcols:
#     lofc.append( colname[:-4])
#     #print(colname)

# lofc = list(set(lofc))
# lofc

In [390]:
#coest2016alldata = pd.read_csv()

#coest2016alldata.filter(regex='2010').columns

lofc = []
for colname in coest2016alldata.filter(regex='2016').columns:
    lofc.append( colname) #.replace('2010', ''))
    #print(colname)

lofc = list(set(lofc))
lofc

['NATURALINC2016',
 'RBIRTH2016',
 'INTERNATIONALMIG2016',
 'RDOMESTICMIG2016',
 'RINTERNATIONALMIG2016',
 'DEATHS2016',
 'RNATURALINC2016',
 'DOMESTICMIG2016',
 'NETMIG2016',
 'POPESTIMATE2016',
 'BIRTHS2016',
 'RNETMIG2016',
 'RDEATH2016',
 'RESIDUAL2016',
 'GQESTIMATES2016',
 'NPOPCHG_2016']

In [391]:
#output_names = [name for name if (name[0] =='R')]
# https://stackoverflow.com/questions/10134372/get-a-list-of-names-which-start-with-certain-letters

names = lofc
first_letters = ['R']
output_names = [name for name in names if (name[0] in first_letters)]


try:
    output_names.remove( 'RESIDUAL2016')
except ValueError:
    pass

output_names

['RBIRTH2016',
 'RDOMESTICMIG2016',
 'RINTERNATIONALMIG2016',
 'RNATURALINC2016',
 'RNETMIG2016',
 'RDEATH2016']

In [417]:

xpop = 'RESIDUAL2016'
    
    
    
def makedf (xpop):
    #print (xpop[:-4])
    df  = coest2016alldata.filter( regex = xpop[:-4] ) #.max()
    df = df.reset_index()
    
    df = pd.melt(df, id_vars='CTYNAME',  var_name=xpop+'Year', value_name=xpop)
    df['Year'] = df[xpop+'Year'].str[-4:]
    df['Year'] = pd.to_datetime(df['Year'], format='%Y-%m')
    del df[xpop+'Year']
    df.columns.values[0] = 'county'
    return df

RNETMIG = makedf('RNETMIG2016')
RNETMIG

dflist = []
for colnames in output_names:
    dflist.append(makedf(colnames))
    
dflist[1]

               county  RDOMESTICMIG2016       Year
0          Autauga AL          5.836523 2011-01-01
1          Baldwin AL         14.768069 2011-01-01
2          Barbour AL         -1.133994 2011-01-01
3             Bibb AL         -5.395092 2011-01-01
4           Blount AL          1.807391 2011-01-01
5          Bullock AL        -22.392893 2011-01-01
6           Butler AL         -5.025607 2011-01-01
7          Calhoun AL         -6.672199 2011-01-01
8         Chambers AL         -2.496072 2011-01-01
9         Cherokee AL          6.109510 2011-01-01
10         Chilton AL         -1.212357 2011-01-01
11         Choctaw AL        -14.353370 2011-01-01
12          Clarke AL         -6.938083 2011-01-01
13            Clay AL        -10.450686 2011-01-01
14        Cleburne AL         -3.539114 2011-01-01
15          Coffee AL          0.993374 2011-01-01
16         Colbert AL          0.146815 2011-01-01
17         Conecuh AL          0.303007 2011-01-01
18           Coosa AL        -31.910754 2011-01-01
19       Covington AL          6.748652 2011-01-01
20        Crenshaw AL          2.017291 2011-01-01
21         Cullman AL         -1.516159 2011-01-01
22            Dale AL        -10.728610 2011-01-01
23          Dallas AL        -15.443483 2011-01-01
24          DeKalb AL          0.491118 2011-01-01
25          Elmore AL          2.092692 2011-01-01
26        Escambia AL         -3.031055 2011-01-01
27          Etowah AL         -1.121307 2011-01-01
28         Fayette AL         -4.957135 2011-01-01
29        Franklin AL         -1.418037 2011-01-01
...               ...               ...        ...
18822     Washburn WI         10.896039 2016-01-01
18823   Washington WI          1.104020 2016-01-01
18824     Waukesha WI          3.435107 2016-01-01
18825      Waupaca WI         -3.093043 2016-01-01
18826     Waushara WI          4.522540 2016-01-01
18827    Winnebago WI         -0.771835 2016-01-01
18828         Wood WI         -2.431777 2016-01-01
18829       Albany WY         -6.654877 2016-01-01
18830     Big Horn WY         -0.916819 2016-01-01
18831     Campbell WY        -20.787479 2016-01-01
18832       Carbon WY          0.128320 2016-01-01
18833     Converse WY        -17.536476 2016-01-01
18834        Crook WY          1.881973 2016-01-01
18835      Fremont WY         -4.690001 2016-01-01
18836       Goshen WY        -16.307168 2016-01-01
18837  Hot Springs WY         -9.974533 2016-01-01
18838      Johnson WY        -13.237275 2016-01-01
18839      Laramie WY          4.689764 2016-01-01
18840      Lincoln WY         12.359046 2016-01-01
18841      Natrona WY        -20.241377 2016-01-01
18842     Niobrara WY        -12.457304 2016-01-01
18843         Park WY          7.533086 2016-01-01
18844       Platte WY        -15.441807 2016-01-01
18845     Sheridan WY          3.617117 2016-01-01
18846     Sublette WY        -18.527945 2016-01-01
18847   Sweetwater WY        -20.009453 2016-01-01
18848        Teton WY         -4.712087 2016-01-01
18849        Uinta WY         -9.761493 2016-01-01
18850     Washakie WY        -11.467198 2016-01-01
18851       Weston WY          2.212084 2016-01-01

[18852 rows x 3 columns]

In [393]:

RDEATH  = coest2016alldata.filter( regex = 'RDEATH' ) #.max()
RDEATH = RDEATH.reset_index()
RDEATH = pd.melt(RDEATH, id_vars='CTYNAME',  var_name='DeathYear', value_name='deaths')
RDEATH['Year'] = RDEATH['DeathYear'].str[6:]
RDEATH['Year'] = pd.to_datetime(RDEATH['Year'], format='%Y-%m')
del RDEATH['DeathYear']
RDEATH

              CTYNAME     deaths       Year
0          Autauga AL   9.218433 2011-01-01
1          Baldwin AL   9.868812 2011-01-01
2          Barbour AL  11.632586 2011-01-01
3             Bibb AL  12.149922 2011-01-01
4           Blount AL   9.871136 2011-01-01
5          Bullock AL  12.214306 2011-01-01
6           Butler AL  12.492222 2011-01-01
7          Calhoun AL  11.227583 2011-01-01
8         Chambers AL  12.950211 2011-01-01
9         Cherokee AL  11.911623 2011-01-01
10         Chilton AL  10.842588 2011-01-01
11         Choctaw AL  11.657559 2011-01-01
12          Clarke AL  11.654421 2011-01-01
13            Clay AL  15.313158 2011-01-01
14        Cleburne AL  11.618978 2011-01-01
15          Coffee AL  10.092682 2011-01-01
16         Colbert AL  12.314073 2011-01-01
17         Conecuh AL  14.317097 2011-01-01
18           Coosa AL  14.096078 2011-01-01
19       Covington AL  12.890980 2011-01-01
20        Crenshaw AL  11.815562 2011-01-01
21         Cullman AL  11.309054 2011-01-01
22            Dale AL   9.355189 2011-01-01
23          Dallas AL  12.501867 2011-01-01
24          DeKalb AL  10.987006 2011-01-01
25          Elmore AL   8.884545 2011-01-01
26        Escambia AL  11.497106 2011-01-01
27          Etowah AL  12.995663 2011-01-01
28         Fayette AL  14.929725 2011-01-01
29        Franklin AL  13.171992 2011-01-01
...               ...        ...        ...
18822     Washburn WI  12.818869 2016-01-01
18823   Washington WI   8.205557 2016-01-01
18824     Waukesha WI   8.433000 2016-01-01
18825      Waupaca WI  14.131338 2016-01-01
18826     Waushara WI  10.455781 2016-01-01
18827    Winnebago WI   8.537315 2016-01-01
18828         Wood WI  10.232590 2016-01-01
18829       Albany WY   4.794655 2016-01-01
18830     Big Horn WY  10.085014 2016-01-01
18831     Campbell WY   6.786500 2016-01-01
18832       Carbon WY   8.854100 2016-01-01
18833     Converse WY   7.856341 2016-01-01
18834        Crook WY   8.872160 2016-01-01
18835      Fremont WY  11.935928 2016-01-01
18836       Goshen WY  10.229042 2016-01-01
18837  Hot Springs WY  14.643463 2016-01-01
18838      Johnson WY   8.902946 2016-01-01
18839      Laramie WY   8.703710 2016-01-01
18840      Lincoln WY   6.390789 2016-01-01
18841      Natrona WY   8.932182 2016-01-01
18842     Niobrara WY   8.438819 2016-01-01
18843         Park WY   8.902738 2016-01-01
18844       Platte WY   9.379468 2016-01-01
18845     Sheridan WY  11.083642 2016-01-01
18846     Sublette WY   5.904510 2016-01-01
18847   Sweetwater WY   6.189651 2016-01-01
18848        Teton WY   3.761024 2016-01-01
18849        Uinta WY   6.443547 2016-01-01
18850     Washakie WY  11.225783 2016-01-01
18851       Weston WY  10.645652 2016-01-01

[18852 rows x 3 columns]

In [400]:
#http://rstudio-pubs-static.s3.amazonaws.com/217450_4fabdb443de345efbc493cf0161ac51d.html

DEATHS = coest2016alldata.filter( like = 'DEATHS' ) #.max()
DEATHS = DEATHS.reset_index()
DEATHS = pd.melt(DEATHS, id_vars='CTYNAME',  var_name='DeathYear', value_name='deaths')
DEATHS['Year'] = DEATHS['DeathYear'].str[6:]
DEATHS = DEATHS [DEATHS['Year'] !='2010']
DEATHS['Year'] = pd.to_datetime(DEATHS['Year'], format='%Y-%m')
del DEATHS['DeathYear']
DEATHS = DEATHS.pivot_table(index=['Year'], columns=['CTYNAME'], values='deaths').fillna(0)
DEATHS = DEATHS.pct_change()
DEATHS = DEATHS.reset_index()
DEATHS = pd.melt(DEATHS, id_vars='Year',  var_name='CTYNAME', value_name='deaths')
DEATHS

            Year          CTYNAME    deaths
0     2011-01-01     Abbeville SC       NaN
1     2012-01-01     Abbeville SC -0.131034
2     2013-01-01     Abbeville SC  0.103175
3     2014-01-01     Abbeville SC -0.053957
4     2015-01-01     Abbeville SC  0.022814
5     2016-01-01     Abbeville SC -0.029740
6     2011-01-01  Acadia ParishLA       NaN
7     2012-01-01  Acadia ParishLA -0.108382
8     2013-01-01  Acadia ParishLA  0.119935
9     2014-01-01  Acadia ParishLA -0.130246
10    2015-01-01  Acadia ParishLA  0.126456
11    2016-01-01  Acadia ParishLA -0.013294
12    2011-01-01      Accomack VA       NaN
13    2012-01-01      Accomack VA -0.083871
14    2013-01-01      Accomack VA -0.025822
15    2014-01-01      Accomack VA -0.021687
16    2015-01-01      Accomack VA  0.152709
17    2016-01-01      Accomack VA  0.002137
18    2011-01-01           Ada ID       NaN
19    2012-01-01           Ada ID  0.019177
20    2013-01-01           Ada ID  0.009408
21    2014-01-01           Ada ID  0.032621
22    2015-01-01           Ada ID  0.055284
23    2016-01-01           Ada ID  0.008909
24    2011-01-01         Adair IA       NaN
25    2012-01-01         Adair IA -0.103448
26    2013-01-01         Adair IA  0.134615
27    2014-01-01         Adair IA -0.135593
28    2015-01-01         Adair IA  0.166667
29    2016-01-01         Adair IA -0.168067
...          ...              ...       ...
18822 2011-01-01          Yuma AZ       NaN
18823 2012-01-01          Yuma AZ  0.073936
18824 2013-01-01          Yuma AZ -0.062587
18825 2014-01-01          Yuma AZ  0.025223
18826 2015-01-01          Yuma AZ  0.051375
18827 2016-01-01          Yuma AZ  0.075017
18828 2011-01-01          Yuma CO       NaN
18829 2012-01-01          Yuma CO -0.042373
18830 2013-01-01          Yuma CO -0.185841
18831 2014-01-01          Yuma CO -0.130435
18832 2015-01-01          Yuma CO  0.150000
18833 2016-01-01          Yuma CO  0.032609
18834 2011-01-01        Zapata TX       NaN
18835 2012-01-01        Zapata TX  0.064103
18836 2013-01-01        Zapata TX  0.060241
18837 2014-01-01        Zapata TX  0.011364
18838 2015-01-01        Zapata TX -0.044944
18839 2016-01-01        Zapata TX  0.164706
18840 2011-01-01        Zavala TX       NaN
18841 2012-01-01        Zavala TX  0.277778
18842 2013-01-01        Zavala TX -0.065217
18843 2014-01-01        Zavala TX  0.116279
18844 2015-01-01        Zavala TX  0.072917
18845 2016-01-01        Zavala TX -0.067961
18846 2011-01-01       Ziebach SD       NaN
18847 2012-01-01       Ziebach SD -0.533333
18848 2013-01-01       Ziebach SD  1.285714
18849 2014-01-01       Ziebach SD -0.375000
18850 2015-01-01       Ziebach SD  0.900000
18851 2016-01-01       Ziebach SD  0.315789

[18852 rows x 3 columns]

In [387]:
#coest2016alldata.head()
#coest2016alldata [coest2016alldata.filter( like = 'INTERNATIONALMIG' ) ['INTERNATIONALMIG2016']  ==   42607.000000]

#.max()

In [155]:
Zip_Zhvi_AllHomes_county = pd.read_csv('County_MedianListingPricePerSqft_AllHomes.csv')
Zip_Zhvi_AllHomes_county.dropna(thresh=40,inplace= True)

In [52]:
Zip_Zhvi_AllHomes_county["RegionName"] = Zip_Zhvi_AllHomes_county["RegionName"] + ' '+ Zip_Zhvi_AllHomes_county["State"]
Zip_Zhvi_AllHomes_county.head()

,RegionName,State,Metro,StateCodeFIPS,MunicipalCodeFIPS,SizeRank,2010-01,2010-02,2010-03,2010-04,...,2017-05,2017-06,2017-07,2017-08,2017-09,2017-10,2017-11,2017-12,2018-01,2018-02
0,Los Angeles CA,CA,Los Angeles-Long Beach-Anaheim,6,37,1,NaN,NaN,NaN,NaN,...,405.932534,402.974504,403.773585,405.644758,405.762194,407.894737,409.179047,407.014682,408.113217,415.533981
1,Cook IL,IL,Chicago,17,31,2,174.785276,176.430518,177.547708,176.653797,...,179.548241,181.391011,180.735325,177.743590,176.880917,176.282524,173.878706,170.024269,170.359848,176.878931
2,Harris TX,TX,Houston,48,201,3,75.057737,76.010822,76.198630,76.419214,...,113.324176,113.091954,112.330199,112.718031,113.858962,114.239366,114.677334,115.560658,116.061141,116.717194
3,Maricopa AZ,AZ,Phoenix,4,13,4,NaN,NaN,NaN,NaN,...,150.517404,149.749024,148.996413,149.840836,151.248389,153.272577,154.105839,155.209831,156.574911,157.921212
4,San Diego CA,CA,San Diego,6,73,5,NaN,NaN,NaN,NaN,...,349.880383,348.833347,350.584400,352.425835,353.726974,353.903457,354.166667,356.666667,360.478334,366.177764

In [83]:
Zip_Zhvi_AllHomes_countyT= Zip_Zhvi_AllHomes_county.transpose()

Zip_Zhvi_AllHomes_countyT.drop(Zip_Zhvi_AllHomes_countyT.index[1:6], inplace= True)
Zip_Zhvi_AllHomes_countyT.columns = Zip_Zhvi_AllHomes_countyT.iloc[0]
Zip_Zhvi_AllHomes_countyT.drop(Zip_Zhvi_AllHomes_countyT.index[0], inplace= True)


#Zip_Zhvi_AllHomes_countyT = Zip_Zhvi_AllHomes_countyT.reset_index()
Zip_Zhvi_AllHomes_countyT.index =  pd.to_datetime(Zip_Zhvi_AllHomes_countyT.index, format='%Y-%m')
Zip_Zhvi_AllHomes_countyT['month'] = pd.DatetimeIndex(Zip_Zhvi_AllHomes_countyT.index).month

Zip_Zhvi_AllHomes_countyT = Zip_Zhvi_AllHomes_countyT.loc[Zip_Zhvi_AllHomes_countyT['month'] == 1]
Zip_Zhvi_AllHomes_countyT = Zip_Zhvi_AllHomes_countyT.pct_change()

del Zip_Zhvi_AllHomes_countyT['month']
# #>>> pd.melt(df, id_vars=['A'], value_vars=['B', 'C'])
Zip_Zhvi_AllHomes_countyT

RegionName,Los Angeles CA,Cook IL,Harris TX,Maricopa AZ,San Diego CA,Orange CA,Kings NY,Miami-Dade FL,Dallas TX,Queens NY,...,Granite MT,Hinsdale CO,Arecibo PR,Bayamon PR,Fajardo PR,Carolina PR,Guaynabo PR,Cabo Rojo PR,Saint Thomas VI,Trujillo Alto PR
2010-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2011-01-01,NaN,-0.198175,-0.019901,NaN,NaN,NaN,NaN,NaN,-0.097389,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2012-01-01,NaN,-0.121709,-0.032121,NaN,NaN,NaN,NaN,NaN,-0.093842,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2013-01-01,NaN,-0.008284,0.070297,NaN,NaN,NaN,NaN,NaN,0.182095,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,-0.032336,NaN,NaN,NaN
2014-01-01,NaN,0.050950,0.126779,NaN,NaN,NaN,0.047424,0.155126,0.089532,0.077726,...,NaN,NaN,NaN,-0.200425,NaN,NaN,-0.036754,NaN,NaN,NaN
2015-01-01,0.050866,0.056545,0.188205,0.045540,0.046261,0.031704,0.302392,0.114909,0.116906,0.111958,...,-0.064464,NaN,NaN,0.066313,NaN,NaN,-0.192606,-0.118235,0.158508,NaN
2016-01-01,0.125296,0.103263,0.091277,0.088822,0.099379,0.062612,0.260484,0.264345,0.128639,0.177678,...,0.125000,0.015933,-0.045469,-0.078664,-0.247870,0.088261,-0.014925,-0.076569,0.031599,-0.020392
2017-01-01,0.071194,0.053197,-0.004711,0.051931,0.049536,0.051688,0.087515,0.082048,0.204854,0.082660,...,0.236667,0.032040,0.000479,0.027305,0.077535,-0.074221,-0.043298,-0.031273,0.108883,-0.091399
2018-01-01,0.061963,0.081679,0.047325,0.063000,0.080634,0.058822,0.057922,0.040303,0.090987,0.122523,...,-0.143547,0.058098,-0.092838,-0.094480,-0.262569,-0.134461,-0.067009,-0.030526,0.000107,0.028249

In [84]:
Zip_Zhvi_AllHomes_countyT = Zip_Zhvi_AllHomes_countyT.reset_index()

Zip_Zhvi_AllHomes_countyT = pd.melt(Zip_Zhvi_AllHomes_countyT,  id_vars='index', var_name='county', value_name='price')
Zip_Zhvi_AllHomes_countyT

           index            county     price
0     2010-01-01    Los Angeles CA       NaN
1     2011-01-01    Los Angeles CA       NaN
2     2012-01-01    Los Angeles CA       NaN
3     2013-01-01    Los Angeles CA       NaN
4     2014-01-01    Los Angeles CA       NaN
5     2015-01-01    Los Angeles CA  0.050866
6     2016-01-01    Los Angeles CA  0.125296
7     2017-01-01    Los Angeles CA  0.071194
8     2018-01-01    Los Angeles CA  0.061963
9     2010-01-01           Cook IL       NaN
10    2011-01-01           Cook IL -0.198175
11    2012-01-01           Cook IL -0.121709
12    2013-01-01           Cook IL -0.008284
13    2014-01-01           Cook IL  0.050950
14    2015-01-01           Cook IL  0.056545
15    2016-01-01           Cook IL  0.103263
16    2017-01-01           Cook IL  0.053197
17    2018-01-01           Cook IL  0.081679
18    2010-01-01         Harris TX       NaN
19    2011-01-01         Harris TX -0.019901
20    2012-01-01         Harris TX -0.032121
21    2013-01-01         Harris TX  0.070297
22    2014-01-01         Harris TX  0.126779
23    2015-01-01         Harris TX  0.188205
24    2016-01-01         Harris TX  0.091277
25    2017-01-01         Harris TX -0.004711
26    2018-01-01         Harris TX  0.047325
27    2010-01-01       Maricopa AZ       NaN
28    2011-01-01       Maricopa AZ       NaN
29    2012-01-01       Maricopa AZ       NaN
...          ...               ...       ...
17952 2016-01-01       Guaynabo PR -0.014925
17953 2017-01-01       Guaynabo PR -0.043298
17954 2018-01-01       Guaynabo PR -0.067009
17955 2010-01-01      Cabo Rojo PR       NaN
17956 2011-01-01      Cabo Rojo PR       NaN
17957 2012-01-01      Cabo Rojo PR       NaN
17958 2013-01-01      Cabo Rojo PR       NaN
17959 2014-01-01      Cabo Rojo PR       NaN
17960 2015-01-01      Cabo Rojo PR -0.118235
17961 2016-01-01      Cabo Rojo PR -0.076569
17962 2017-01-01      Cabo Rojo PR -0.031273
17963 2018-01-01      Cabo Rojo PR -0.030526
17964 2010-01-01   Saint Thomas VI       NaN
17965 2011-01-01   Saint Thomas VI       NaN
17966 2012-01-01   Saint Thomas VI       NaN
17967 2013-01-01   Saint Thomas VI       NaN
17968 2014-01-01   Saint Thomas VI       NaN
17969 2015-01-01   Saint Thomas VI  0.158508
17970 2016-01-01   Saint Thomas VI  0.031599
17971 2017-01-01   Saint Thomas VI  0.108883
17972 2018-01-01   Saint Thomas VI  0.000107
17973 2010-01-01  Trujillo Alto PR       NaN
17974 2011-01-01  Trujillo Alto PR       NaN
17975 2012-01-01  Trujillo Alto PR       NaN
17976 2013-01-01  Trujillo Alto PR       NaN
17977 2014-01-01  Trujillo Alto PR       NaN
17978 2015-01-01  Trujillo Alto PR       NaN
17979 2016-01-01  Trujillo Alto PR -0.020392
17980 2017-01-01  Trujillo Alto PR -0.091399
17981 2018-01-01  Trujillo Alto PR  0.028249

[17982 rows x 3 columns]

In [412]:
#Zip_Zhvi_AllHomes_countyT['index'] =  pd.to_datetime(Zip_Zhvi_AllHomes_countyT['index'], format='%Y-%m')

#Zip_Zhvi_AllHomes_countyT.rename(columns={'year':'Year'}, inplace=True)
Zip_Zhvi_AllHomes_countyT.columns.values[0] = 'Year'

Zip_Zhvi_AllHomes_countyT

            Year            county     price
0     2010-01-01    Los Angeles CA       NaN
1     2011-01-01    Los Angeles CA       NaN
2     2012-01-01    Los Angeles CA       NaN
3     2013-01-01    Los Angeles CA       NaN
4     2014-01-01    Los Angeles CA       NaN
5     2015-01-01    Los Angeles CA  0.050866
6     2016-01-01    Los Angeles CA  0.125296
7     2017-01-01    Los Angeles CA  0.071194
8     2018-01-01    Los Angeles CA  0.061963
9     2010-01-01           Cook IL       NaN
10    2011-01-01           Cook IL -0.198175
11    2012-01-01           Cook IL -0.121709
12    2013-01-01           Cook IL -0.008284
13    2014-01-01           Cook IL  0.050950
14    2015-01-01           Cook IL  0.056545
15    2016-01-01           Cook IL  0.103263
16    2017-01-01           Cook IL  0.053197
17    2018-01-01           Cook IL  0.081679
18    2010-01-01         Harris TX       NaN
19    2011-01-01         Harris TX -0.019901
20    2012-01-01         Harris TX -0.032121
21    2013-01-01         Harris TX  0.070297
22    2014-01-01         Harris TX  0.126779
23    2015-01-01         Harris TX  0.188205
24    2016-01-01         Harris TX  0.091277
25    2017-01-01         Harris TX -0.004711
26    2018-01-01         Harris TX  0.047325
27    2010-01-01       Maricopa AZ       NaN
28    2011-01-01       Maricopa AZ       NaN
29    2012-01-01       Maricopa AZ       NaN
...          ...               ...       ...
17952 2016-01-01       Guaynabo PR -0.014925
17953 2017-01-01       Guaynabo PR -0.043298
17954 2018-01-01       Guaynabo PR -0.067009
17955 2010-01-01      Cabo Rojo PR       NaN
17956 2011-01-01      Cabo Rojo PR       NaN
17957 2012-01-01      Cabo Rojo PR       NaN
17958 2013-01-01      Cabo Rojo PR       NaN
17959 2014-01-01      Cabo Rojo PR       NaN
17960 2015-01-01      Cabo Rojo PR -0.118235
17961 2016-01-01      Cabo Rojo PR -0.076569
17962 2017-01-01      Cabo Rojo PR -0.031273
17963 2018-01-01      Cabo Rojo PR -0.030526
17964 2010-01-01   Saint Thomas VI       NaN
17965 2011-01-01   Saint Thomas VI       NaN
17966 2012-01-01   Saint Thomas VI       NaN
17967 2013-01-01   Saint Thomas VI       NaN
17968 2014-01-01   Saint Thomas VI       NaN
17969 2015-01-01   Saint Thomas VI  0.158508
17970 2016-01-01   Saint Thomas VI  0.031599
17971 2017-01-01   Saint Thomas VI  0.108883
17972 2018-01-01   Saint Thomas VI  0.000107
17973 2010-01-01  Trujillo Alto PR       NaN
17974 2011-01-01  Trujillo Alto PR       NaN
17975 2012-01-01  Trujillo Alto PR       NaN
17976 2013-01-01  Trujillo Alto PR       NaN
17977 2014-01-01  Trujillo Alto PR       NaN
17978 2015-01-01  Trujillo Alto PR       NaN
17979 2016-01-01  Trujillo Alto PR -0.020392
17980 2017-01-01  Trujillo Alto PR -0.091399
17981 2018-01-01  Trujillo Alto PR  0.028249

[17982 rows x 3 columns]

In [369]:
Zip_Zhvi_AllHomes_countyT[Zip_Zhvi_AllHomes_countyT['county'].str.contains("Queens")]['county'].tolist()

['Queens NY',
 'Queens NY',
 'Queens NY',
 'Queens NY',
 'Queens NY',
 'Queens NY',
 'Queens NY',
 'Queens NY',
 'Queens NY']

In [409]:
RDEATH #['CTYNAME']

#RNETMIG.rename(columns={'CTYNAME':'county'}, inplace=True)

#RNETMIG[RNETMIG['county'].str.contains("Queens")]['county'].tolist()

In [423]:
#s1 = 

mergeddf = Zip_Zhvi_AllHomes_countyT

for df in dflist:
    #print (df)
    mergeddf = pd.merge(df, mergeddf, how='inner', left_on=['county', 'Year'],right_on=['county', 'Year'])

mergeddf

,county,RDEATH2016,Year,RNETMIG2016,RNATURALINC2016,RINTERNATIONALMIG2016,RDOMESTICMIG2016,RBIRTH2016,price
0,Autauga AL,9.218433,2011-01-01,6.163804,2.345519,0.327282,5.836523,11.563952,-0.024568
1,Baldwin AL,9.868812,2011-01-01,15.757654,1.962947,0.989585,14.768069,11.831760,-0.093731
2,Barbour AL,11.632586,2011-01-01,-1.280316,0.621868,-0.146322,-1.133994,12.254454,-0.077495
3,Bibb AL,12.149922,2011-01-01,-4.956466,-0.482488,0.438625,-5.395092,11.667434,NaN
4,Blount AL,9.871136,2011-01-01,1.755255,3.058662,-0.052136,1.807391,12.929798,-0.086218
5,Butler AL,12.492222,2011-01-01,-4.929881,0.717944,0.095726,-5.025607,13.210166,NaN
6,Calhoun AL,11.227583,2011-01-01,-6.341976,0.491101,0.330223,-6.672199,11.718684,NaN
7,Chambers AL,12.950211,2011-01-01,-1.585740,-1.174622,0.910332,-2.496072,11.775588,-0.194399
8,Cherokee AL,11.911623,2011-01-01,6.186359,-3.419789,0.076849,6.109510,8.491835,-0.148970
9,Chilton AL,10.842588,2011-01-01,-0.709114,2.081594,0.503242,-1.212357,12.924182,NaN
10,Coffee AL,10.092682,2011-01-01,2.721845,3.397340,1.728471,0.993374,13.490022,-0.076972
11,Colbert AL,12.314073,2011-01-01,0.715721,-1.229572,0.568907,0.146815,11.084501,-0.017720
12,Covington AL,12.890980,2011-01-01,6.933186,-0.685410,0.184533,6.748652,12.205570,-0.149883
13,Cullman AL,11.309054,2011-01-01,-1.193043,1.056340,0.323116,-1.516159,12.365394,-0.104816
14,Dale AL,9.355189,2011-01-01,-9.574140,4.458643,1.154470,-10.728610,13.813832,-0.032852
15,Elmore AL,8.884545,2011-01-01,2.518750,3.233022,0.426057,2.092692,12.117567,-0.058377
16,Escambia AL,11.497106,2011-01-01,-2.978796,1.149711,0.052260,-3.031055,12.646817,-0.082685
17,Etowah AL,12.995663,2011-01-01,-0.757122,-0.996718,0.364185,-1.121307,11.998946,-0.114045
18,Franklin AL,13.171992,2011-01-01,0.189072,0.063024,1.607109,-1.418037,13.235016,0.084292
19,Geneva AL,12.379053,2011-01-01,1.305021,-0.447436,-0.149145,1.454166,11.931617,-0.184039
20,Henry AL,13.199228,2011-01-01,7.954120,-2.363180,0.749301,7.204819,10.836047,-0.079184
21,Houston AL,8.928746,2011-01-01,2.760862,4.102132,0.479724,2.281138,13.030879,-0.020625
22,Jackson AL,12.155257,2011-01-01,2.799279,-1.390246,0.676336,2.122943,10.765011,0.021825
23,Jefferson AL,10.493845,2011-01-01,-3.232967,2.927454,1.114135,-4.347102,13.421299,-0.041825
24,Lauderdale AL,11.837704,2011-01-01,0.420848,-1.597065,0.528758,-0.107910,10.240639,0.021386
25,Lawrence AL,12.317505,2011-01-01,-5.500453,-2.223588,0.029258,-5.529711,10.093917,-0.079861
26,Lee AL,5.643551,2011-01-01,17.155271,5.804996,3.593903,13.561368,11.448546,-0.074254
27,Limestone AL,8.119336,2011-01-01,23.492737,3.864093,0.877125,22.615612,11.983429,-0.059368
28,Madison AL,8.038559,2011-01-01,5.735908,4.540188,1.571603,4.164305,12.578747,-0.057646
29,Marion AL,13.880988,2011-01-01,1.592900,-4.486127,0.650163,0.942737,9.394860,NaN
...,...,...,...,...,...,...,...,...,...
11394,Richland WI,10.469108,2016-01-01,-0.800915,-0.686499,0.514874,-1.315789,9.782609,0.003521
11395,Rock WI,8.917679,2016-01-01,-0.569741,2.991138,0.662633,-1.232374,11.908817,0.033028
11396,Rusk WI,12.029437,2016-01-01,2.052080,-2.193603,1.344466,0.707614,9.835834,0.286332
11397,Sawyer WI,12.224939,2016-01-01,4.278729,-2.750611,0.122249,4.156479,9.474328,-0.086139
11398,Sheboygan WI,9.401865,2016-01-01,-2.233592,1.212027,1.134111,-3.367703,10.613892,0.164948
11399,Trempealeau WI,9.090141,2016-01-01,-2.061333,4.798513,1.182732,-3.244065,13.888654,NaN
11400,Vernon WI,10.368945,2016-01-01,5.738787,3.619349,0.228247,5.510540,13.988294,-0.080264
11401,Vilas WI,13.496474,2016-01-01,8.266007,-5.370569,0.793910,7.472096,8.125905,0.000478
11402,Washburn WI,12.818869,2016-01-01,11.344699,-4.678887,0.448660,10.896039,8.139982,0.008448
11403,Waukesha WI,8.433000,2016-01-01,4.781468,1.006625,1.346361,3.435107,9.439625,0.051172
11404,Waushara WI,10.455781,2016-01-01,4.895961,-0.829824,0.373421,4.522540,9.625957,0.126212
11405,Albany WY,4.794655,2016-01-01,-2.358027,6.654877,4.296849,-6.654877,11.449532,-0.056713
11406,Big Horn WY,10.085014,2016-01-01,-0.500083,2.333722,0.416736,-0.916819,12.418736,0.070856
11407,Campbell WY,6.786500,2016-01-01,-20.298361,8.844868,0.489117,-20.787479,15.631369,0.145653
11408,Carbon WY,8.854100,2016-01-01,0.577441,3.977929,0.449121,0.128320,12.832029,0.119592
11409,Converse WY,7.856341,2016-01-01,-15.712682,6.874299,1.823793,-17.536476,14.730640,NaN
11410,Fremont WY,11.935928,2016-01-01,-4.367408,2.010000,0.322593,-4.690001,13.945929,0.061626
11411,Goshen WY,10.229042,2016-01-01,-15.047068,0.667111,1.260099,-16.307168,10.896153,0.012586
11412,Johnson WY,8.902946,2016-01-01,-12.651555,0.937152,0.585720,-13.237275,9.840098,-0.035415
11413,Laramie WY,8.703710,2016-01-01,5.590854,4.116343,0.901090,4.689764,12.820053,0.002623
11414,Lincoln WY,6.390789,2016-01-01,12.887211,6.337972,0.528164,12.359046,12.728761,-0.050741
11415,Natrona WY,8.932182,2016-01-01,-19.751271,5.967040,0.490106,-20.241377,14.899222,-0.000931
11416,Park WY,8.902738,2016-01-01,9.039703,1.951754,1.506617,7.533086,10.854492,0.080839
11417,Platte WY,9.379468,2016-01-01,-15.327424,0.457535,0.114384,-15.441807,9.837003,0.145556
11418,Sheridan WY,11.083642,2016-01-01,4.745391,-0.630507,1.128275,3.617117,10.453135,-0.037774
11419,Sublette WY,5.904510,2016-01-01,-18.324341,6.108114,0.203604,-18.527945,12.012623,-0.039218
11420,Sweetwater WY,6.189651,2016-01-01,-19.784375,7.405073,0.225078,-20.009453,13.594724,0.001826
11421,Teton WY,3.761024,2016-01-01,-2.637040,6.570984,2.075048,-4.712087,10.332008,0.138969
11422,Uinta WY,6.443547,2016-01-01,-10.434699,8.415080,-0.673206,-9.761493,14.858627,0.067894
11423,Washakie WY,11.225783,2016-01-01,-11.950027,0.603537,-0.482829,-11.467198,11.829320,-0.065787

In [425]:
#new_df = pd.merge(A_df, B_df,  how='left', left_on=['A_c1','c2'], right_on = ['B_c1','c2'])
mergeddf.to_pickle('mergeddf.p')