In [205]:
import pandas as pd
#https://docs.google.com/spreadsheets/d/1FPaF_fgOJIEdoJEWS2JS2rlnuyaa1Bl2LZdKUl9egwo/edit?usp=sharing

In [578]:
Zip_Zhvi_AllHomes = pd.read_csv('http://files.zillowstatic.com/research/public/Zip/Zip_Zhvi_AllHomes.csv')
Zip_Zhvi_AllHomes.iloc[1,:]

RegionID        84654
RegionName      60657
City          Chicago
State              IL
Metro         Chicago
CountyName       Cook
SizeRank            2
1996-04        146700
1996-05        146500
1996-06        146300
1996-07        146300
1996-08        146800
1996-09        147100
1996-10        147300
1996-11        147800
1996-12        148600
1997-01        149100
1997-02        149600
1997-03        151100
1997-04        153200
1997-05        155100
1997-06        157200
1997-07        159100
1997-08        160000
1997-09        160800
1997-10        162200
1997-11        163200
1997-12        164100
1998-01        165600
1998-02        167400
               ...
2015-09        308600
2015-10        310300
2015-11        311300
2015-12        310600
2016-01        311100
2016-02        312400
2016-03        314100
2016-04        316100
2016-05        316600
2016-06        316700
2016-07        316800
2016-08        317200
2016-09        316500
2016-10        316300
2016-11        316800
2016-12        318300
2017-01        318800
2017-02        319600
2017-03        320700
2017-04        322500
2017-05        324200
2017-06        324800
2017-07        324100
2017-08        324000
2017-09        324600
2017-10        324500
2017-11        322900
2017-12        321000
2018-01        320900
2018-02        322400
Name: 1, Length: 270, dtype: object

In [208]:
Zip_Zhvi_AllHomesT= Zip_Zhvi_AllHomes.transpose()
#.iloc[0,:]
#df.drop()
Zip_Zhvi_AllHomesT.drop(Zip_Zhvi_AllHomesT.index[2:7], inplace= True)
Zip_Zhvi_AllHomesT.drop(Zip_Zhvi_AllHomesT.index[0], inplace= True)
Zip_Zhvi_AllHomesT.columns = Zip_Zhvi_AllHomesT.iloc[0]
Zip_Zhvi_AllHomesT.drop(Zip_Zhvi_AllHomesT.index[0], inplace= True)
Zip_Zhvi_AllHomesT = Zip_Zhvi_AllHomesT.pct_change()
Zip_Zhvi_AllHomesT = Zip_Zhvi_AllHomesT.reset_index()
Zip_Zhvi_AllHomesT.head()

RegionName,index,10025,60657,75070,60614,79936,77084,10467,60640,77449,...,21840,59231,12429,54844,97028,12720,97102,1338,3293,21405
0,1996-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1996-05,NaN,-0.001363,NaN,-0.012626,0.002825,-0.002646,NaN,-0.009775,0.002774,...,NaN,NaN,0.001326,-0.000498,NaN,-0.007299,NaN,-0.008089,0.013228,0.001972
2,1996-06,NaN,-0.001365,NaN,-0.006650,0.000000,-0.003979,NaN,-0.005923,-0.002766,...,NaN,NaN,0.003974,0.000498,NaN,0.026471,NaN,-0.003058,0.031332,0.005118
3,1996-07,NaN,0.000000,NaN,-0.002060,0.005634,0.000000,NaN,-0.000993,-0.008322,...,NaN,NaN,0.006596,0.000000,NaN,0.008596,NaN,-0.002045,0.000000,0.011359
4,1996-08,NaN,0.003418,NaN,0.000516,-0.002801,-0.002663,NaN,0.000994,-0.004196,...,NaN,NaN,0.011796,-0.000498,NaN,-0.048295,NaN,-0.007172,-0.043038,0.010844

In [69]:
#Zip_Zhvi_AllHomes.count()

In [209]:
Zip_Zhvi_AllHomesT = pd.melt(Zip_Zhvi_AllHomesT,  id_vars='index', var_name='zip', value_name='price')
Zip_Zhvi_AllHomesT.head()

     index    zip  price
0  1996-04  10025    NaN
1  1996-05  10025    NaN
2  1996-06  10025    NaN
3  1996-07  10025    NaN
4  1996-08  10025    NaN

In [210]:
Zip_Zhvi_AllHomesT['index'] =  pd.to_datetime(Zip_Zhvi_AllHomesT['index'], format='%Y-%m')
Zip_Zhvi_AllHomesT.head()

       index    zip  price
0 1996-04-01  10025    NaN
1 1996-05-01  10025    NaN
2 1996-06-01  10025    NaN
3 1996-07-01  10025    NaN
4 1996-08-01  10025    NaN

In [212]:
Zip_Zhvi_AllHomesT.head()

       index    zip  price
0 1996-04-01  10025    NaN
1 1996-05-01  10025    NaN
2 1996-06-01  10025    NaN
3 1996-07-01  10025    NaN
4 1996-08-01  10025    NaN

In [574]:
AllRegionsForePublic = pd.read_csv('http://files.zillowstatic.com/research/public/AllRegionsForePublic.csv')

In [575]:
AllRegionsForePublic.head()

,Region,RegionName,State,ForecastYoYPctChange,MSAName,CountyName,CityName
0,National,United States,US,3.460955,NaN,NaN,NaN
1,MSA,"Akron, OH",OH,2.701606,"Akron, OH",NaN,NaN
2,MSA,"Albany, GA",GA,3.409518,"Albany, GA",NaN,NaN
3,MSA,"Albany, NY",NY,2.976953,"Albany, NY",NaN,NaN
4,MSA,"Albuquerque, NM",NM,2.612778,"Albuquerque, NM",NaN,NaN

In [577]:
AllRegionsForePublic['Region'].unique()

array(['National', 'MSA', 'County', 'City', 'ZipCode'], dtype=object)

In [373]:
coest2016alldata = pd.read_csv('https://www2.census.gov/programs-surveys/popest/datasets/2010-2016/counties/totals/co-est2016-alldata.csv',encoding = "ISO-8859-1")

In [374]:

 #.shape
coest2016alldata = coest2016alldata [coest2016alldata['COUNTY'] !=0]
coest2016alldata.head()

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RDOMESTICMIG2016,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015,RNETMIG2016
1,50,3,6,1,1,Alabama,Autauga County,54571,54571,54742,...,-4.607582,2.149969,-2.799695,4.128528,6.163804,-5.295515,-4.571158,2.259290,-2.654256,4.255281
2,50,3,6,1,3,Alabama,Baldwin County,182265,182265,183199,...,21.672935,19.038117,17.311339,19.628723,15.757654,18.612620,22.757100,20.248574,18.585398,20.807611
3,50,3,6,1,5,Alabama,Barbour County,27457,27457,27348,...,-7.027927,-4.208488,-16.593442,-9.495549,-1.280316,-7.418561,-7.360829,-4.506434,-16.819716,-9.686991
4,50,3,6,1,7,Alabama,Bibb County,22915,22919,22861,...,-6.556506,0.088865,0.088747,1.504292,-4.956466,-4.318988,-5.980596,0.888652,0.887469,2.300681
5,50,3,6,1,9,Alabama,Blount County,57322,57324,57376,...,-1.627452,-2.791093,-1.405067,-1.126712,1.755255,-0.848639,-1.125366,-2.236341,-0.780593,-0.468019

In [493]:
states = {
        'AK': 'Alaska',
        'AL': 'Alabama',
        'AR': 'Arkansas',
        'AS': 'American Samoa',
        'AZ': 'Arizona',
        'CA': 'California',
        'CO': 'Colorado',
        'CT': 'Connecticut',
        'DC': 'District of Columbia',
        'DE': 'Delaware',
        'FL': 'Florida',
        'GA': 'Georgia',
        'GU': 'Guam',
        'HI': 'Hawaii',
        'IA': 'Iowa',
        'ID': 'Idaho',
        'IL': 'Illinois',
        'IN': 'Indiana',
        'KS': 'Kansas',
        'KY': 'Kentucky',
        'LA': 'Louisiana',
        'MA': 'Massachusetts',
        'MD': 'Maryland',
        'ME': 'Maine',
        'MI': 'Michigan',
        'MN': 'Minnesota',
        'MO': 'Missouri',
        'MP': 'Northern Mariana Islands',
        'MS': 'Mississippi',
        'MT': 'Montana',
        'NA': 'National',
        'NC': 'North Carolina',
        'ND': 'North Dakota',
        'NE': 'Nebraska',
        'NH': 'New Hampshire',
        'NJ': 'New Jersey',
        'NM': 'New Mexico',
        'NV': 'Nevada',
        'NY': 'New York',
        'OH': 'Ohio',
        'OK': 'Oklahoma',
        'OR': 'Oregon',
        'PA': 'Pennsylvania',
        'PR': 'Puerto Rico',
        'RI': 'Rhode Island',
        'SC': 'South Carolina',
        'SD': 'South Dakota',
        'TN': 'Tennessee',
        'TX': 'Texas',
        'UT': 'Utah',
        'VA': 'Virginia',
        'VI': 'Virgin Islands',
        'VT': 'Vermont',
        'WA': 'Washington',
        'WI': 'Wisconsin',
        'WV': 'West Virginia',
        'WY': 'Wyoming'
}
states
states = dict (zip(states.values(),states.keys()))

In [429]:
states
states = dict (zip(states.values(),states.keys()))

#states

In [377]:
#coest2016alldata = 
coest2016alldata = coest2016alldata.replace({"STNAME": states})
#coest2016alldata

In [378]:
coest2016alldata['CTYNAME'] = coest2016alldata['CTYNAME'] + ''+ coest2016alldata['STNAME']

#coest2016alldata.set_index('STNAME', inplace=True)
coest2016alldata['CTYNAME'] = coest2016alldata['CTYNAME'].str.replace('County','')
coest2016alldata.head() #.columns[67:77]

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RDOMESTICMIG2016,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015,RNETMIG2016
1,50,3,6,1,1,AL,Autauga AL,54571,54571,54742,...,-4.607582,2.149969,-2.799695,4.128528,6.163804,-5.295515,-4.571158,2.259290,-2.654256,4.255281
2,50,3,6,1,3,AL,Baldwin AL,182265,182265,183199,...,21.672935,19.038117,17.311339,19.628723,15.757654,18.612620,22.757100,20.248574,18.585398,20.807611
3,50,3,6,1,5,AL,Barbour AL,27457,27457,27348,...,-7.027927,-4.208488,-16.593442,-9.495549,-1.280316,-7.418561,-7.360829,-4.506434,-16.819716,-9.686991
4,50,3,6,1,7,AL,Bibb AL,22915,22919,22861,...,-6.556506,0.088865,0.088747,1.504292,-4.956466,-4.318988,-5.980596,0.888652,0.887469,2.300681
5,50,3,6,1,9,AL,Blount AL,57322,57324,57376,...,-1.627452,-2.791093,-1.405067,-1.126712,1.755255,-0.848639,-1.125366,-2.236341,-0.780593,-0.468019

In [430]:
listofcols = coest2016alldata.columns #[67:77]
#listofcols[77:87]

In [380]:

coest2016alldata.set_index('CTYNAME', inplace=True)
coest2016alldata.head()

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,POPESTIMATE2011,...,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RDOMESTICMIG2016,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015,RNETMIG2016
CTYNAME,,,,,,,,,,,,,,,,,,,,,
Autauga AL,50,3,6,1,1,AL,54571,54571,54742,55255,...,-4.607582,2.149969,-2.799695,4.128528,6.163804,-5.295515,-4.571158,2.259290,-2.654256,4.255281
Baldwin AL,50,3,6,1,3,AL,182265,182265,183199,186653,...,21.672935,19.038117,17.311339,19.628723,15.757654,18.612620,22.757100,20.248574,18.585398,20.807611
Barbour AL,50,3,6,1,5,AL,27457,27457,27348,27326,...,-7.027927,-4.208488,-16.593442,-9.495549,-1.280316,-7.418561,-7.360829,-4.506434,-16.819716,-9.686991
Bibb AL,50,3,6,1,7,AL,22915,22919,22861,22736,...,-6.556506,0.088865,0.088747,1.504292,-4.956466,-4.318988,-5.980596,0.888652,0.887469,2.300681
Blount AL,50,3,6,1,9,AL,57322,57324,57376,57707,...,-1.627452,-2.791093,-1.405067,-1.126712,1.755255,-0.848639,-1.125366,-2.236341,-0.780593,-0.468019
Bullock AL,50,3,6,1,11,AL,10914,10911,10892,10722,...,-8.666981,10.992108,-26.456276,-9.703608,-20.634774,-6.923653,-7.819124,11.931605,-25.605896,-8.838930
Butler AL,50,3,6,1,13,AL,20947,20946,20938,20848,...,-15.221368,-0.393963,-7.424089,-6.330376,-4.929881,-7.467540,-14.879863,0.000000,-7.028137,-5.931612
Calhoun AL,50,3,6,1,15,AL,118572,118586,118468,117736,...,-5.537416,-4.459520,-3.954621,-4.019209,-6.341976,-4.494688,-5.314892,-4.252901,-3.703672,-3.784320
Chambers AL,50,3,6,1,17,AL,34215,34170,34101,34006,...,2.052575,-3.435165,1.440350,-4.566479,-1.585740,4.611544,2.551058,-2.877318,1.969459,-4.036178
Cherokee AL,50,3,6,1,19,AL,25989,25986,25977,26073,...,5.375209,-0.653620,-3.599768,5.286583,6.186359,1.382223,5.567181,-0.461379,-3.406232,5.480943
Chilton AL,50,3,6,1,21,AL,43643,43631,43675,43758,...,0.320139,0.136919,-3.398606,1.435897,-0.709114,-3.018833,0.388740,0.410757,-3.124893,1.732194
Choctaw AL,50,3,6,1,23,AL,13859,13858,13840,13610,...,-8.688226,-1.948003,-5.507148,-13.285485,-14.426230,-1.472808,-8.762485,-2.022927,-5.582588,-13.361839
Clarke AL,50,3,6,1,25,AL,25833,25833,25762,25549,...,-0.915368,-8.405548,-6.977495,-13.274156,-6.821149,-16.490128,-0.756174,-8.205416,-6.775833,-13.070565
Clay AL,50,3,6,1,27,AL,13932,13932,13882,13676,...,4.605385,4.598213,2.815023,3.186720,-10.523260,-13.413421,4.456825,4.524048,2.740944,3.112610
Cleburne AL,50,3,6,1,29,AL,14972,14972,14975,14976,...,7.276611,3.188627,-2.793296,-3.409091,-3.539114,-4.949171,7.209853,3.122197,-2.859803,-3.475936
Coffee AL,50,3,6,1,31,AL,49948,49948,50183,50484,...,-13.188237,-4.079380,2.101748,0.645231,2.721845,10.918319,-11.088324,-1.970715,4.498134,2.287636
Colbert AL,50,3,6,1,33,AL,54428,54428,54521,54460,...,1.303362,1.800097,0.036791,0.589802,0.715721,1.560306,1.542006,2.038886,0.275933,0.829409
Conecuh AL,50,3,6,1,35,AL,13228,13228,13209,13193,...,-7.652765,-15.851218,0.872393,-9.843150,0.227256,-12.366412,-7.575465,-15.694276,1.031010,-9.683099
Coosa AL,50,3,6,1,37,AL,11539,11758,11758,11369,...,-4.851970,-23.430350,-7.169126,-8.369381,-31.997233,-11.519716,-5.031673,-23.613399,-7.169126,-8.369381
Covington AL,50,3,6,1,39,AL,37765,37765,37801,38066,...,1.742988,-0.290678,-2.040925,-2.928686,6.933186,-4.110239,1.795806,-0.237828,-1.987913,-2.875438
Crenshaw AL,50,3,6,1,41,AL,13906,13898,13857,13903,...,-3.166151,3.168659,2.952402,4.678110,2.953890,2.587787,-2.518529,3.960824,3.744509,5.397819
Cullman AL,50,3,6,1,43,AL,80406,80410,80476,80457,...,4.171788,4.336063,7.140009,6.815596,-1.193043,-0.733794,4.494605,4.681960,7.495783,7.156375
Dale AL,50,3,6,1,45,AL,50251,50247,50360,50119,...,-15.512399,-12.930948,-5.346348,-5.558035,-9.574140,-1.473883,-13.733271,-11.377620,-3.179457,-4.624934
Dallas AL,50,3,6,1,47,AL,43820,43820,43820,43207,...,-17.804435,-9.846434,-15.116773,-19.604208,-15.512427,-12.843930,-17.922501,-9.966220,-15.213831,-19.678372
DeKalb AL,50,3,6,1,49,AL,71109,71115,71143,71389,...,-1.748412,-0.648668,0.000000,-2.114225,1.417226,-8.401826,-1.128008,0.155116,0.789049,-1.324914
Elmore AL,50,3,6,1,51,AL,79303,79296,79573,80030,...,0.646155,-1.957202,1.777427,3.471605,2.518750,-0.411674,1.354441,-1.201573,2.641454,4.109497
Escambia AL,50,3,6,1,53,AL,38319,38319,38314,38227,...,-5.082960,0.528018,0.184928,-2.250017,-2.978796,-3.434264,-5.056624,0.554419,0.237765,-2.197075
Etowah AL,50,3,6,1,55,AL,104430,104427,104449,104236,...,-2.144179,-2.288075,-2.366129,0.428355,-0.757122,2.254727,-1.913416,-2.027409,-2.104304,0.691209
Fayette AL,50,3,6,1,57,AL,17241,17241,17231,17063,...,-3.961684,0.356305,-3.338898,-5.891370,-5.073774,-0.411414,-4.020814,0.296921,-3.398521,-5.951486
Franklin AL,50,3,6,1,59,AL,31704,31709,31734,31734,...,-8.170116,-0.983425,-2.980248,1.044800,0.189072,-3.565456,-5.953418,1.554445,-0.253638,3.830932
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Washburn WI,50,2,3,55,129,WI,15911,15911,15930,15792,...,-6.725888,4.015808,-5.438782,10.896039,-6.178677,7.838923,-6.281726,4.462009,-4.990882,11.344699
Washington WI,50,2,3,55,131,WI,131887,131887,131996,132292,...,-2.214122,1.532256,-0.217027,1.104020,-0.423780,1.282927,-1.694481,2.148163,0.434054,1.745546
Waukesha WI,50,2,3,55,133,WI,389891,389936,390083,390811,...,0.101682,0.765097,-0.942283,3.435107,0.120375,3.193282,1.309153,2.107818,0.452195,4.781468
Waupaca WI,50,2,3,55,135,WI,52410,52410,52425,52322,...,7.267358,-0.996455,0.288370,-3.093043,2.978606,-1.494797,7.535809,-0.670691,0.634414,-2.745075
Waushara WI,50,2,3,55,137,WI,24496,24496,24507,24579,...,-4.343995,-4.617605,-4.188525,4.522540,4.930123,-2.283012,-3.975165,-4.246547,-3.815290,4.895961
Winnebago WI,50,2,3,55,139,WI,166994,166994,167061,167646,...,0.768590,-2.210961,-4.704273,-0.771835,0.878380,3.697869,1.424847,-1.444495,-3.908438,0.017676
Wood WI,50,2,3,55,141,WI,74749,74749,74785,74588,...,-6.977152,-5.834227,-3.732919,-2.431777,-3.641890,-4.795358,-6.761225,-5.617139,-3.528562,-2.240514
Albany WY,50,4,8,56,1,WY,36299,36299,36428,36895,...,-2.506667,-4.822342,-4.267369,-6.654877,6.355441,5.871342,1.226667,-0.529928,0.131709,-2.358027
Big Horn WY,50,4,8,56,3,WY,11668,11668,11673,11742,...,15.404040,-7.957449,5.190674,-0.916819,4.527013,3.145857,15.656566,-7.538636,5.609276,-0.500083
Campbell WY,50,4,8,56,5,WY,46133,46133,46246,46594,...,-6.125766,-8.551532,12.134380,-20.787479,-2.757432,15.476468,-5.813227,-8.074141,12.646812,-20.298361
Carbon WY,50,4,8,56,7,WY,15885,15885,15837,15824,...,3.748412,-2.972050,-21.540324,0.128320,-6.885443,-12.950325,4.193139,-2.466169,-21.094223,0.577441
Converse WY,50,4,8,56,9,WY,13833,13833,13827,13730,...,18.737013,-18.482218,0.420595,-17.536476,-12.628370,17.071853,20.286690,-16.802016,2.243174,-15.712682
Crook WY,50,4,8,56,11,WY,7083,7083,7115,7139,...,0.838809,5.281078,18.701795,1.881973,0.000000,-4.618291,0.838809,5.281078,18.701795,1.881973
Fremont WY,50,4,8,56,13,WY,40123,40123,40222,40595,...,-5.308011,-13.930714,-11.772691,-4.690001,3.118156,7.855613,-5.137570,-13.685886,-11.451842,-4.367408
Goshen WY,50,4,8,56,15,WY,13249,13247,13405,13592,...,-8.087343,-2.214594,0.442184,-16.307168,14.816461,4.477393,-7.278609,-0.959657,1.768738,-15.047068
Hot Springs WY,50,4,8,56,17,WY,4812,4812,4813,4819,...,2.065476,-4.358203,-6.497590,-9.974533,5.398671,5.588905,2.065476,-4.358203,-6.497590,-9.974533
Johnson WY,50,4,8,56,19,WY,8569,8569,8581,8632,...,-0.812678,-9.196205,2.099248,-13.237275,4.880033,-3.828306,-0.464387,-8.614167,2.682372,-12.651555
Laramie WY,50,4,8,56,21,WY,91738,91881,92272,92637,...,4.928846,-2.539114,2.843156,4.689764,-1.168142,17.009743,6.313118,-1.373619,4.404307,5.590854
Lincoln WY,50,4,8,56,23,WY,18106,18106,18090,18018,...,13.345466,6.015119,2.892573,12.359046,-9.748532,-11.680294,13.786638,6.557022,3.428235,12.887211
Natrona WY,50,4,8,56,25,WY,75450,75450,75474,76410,...,25.085476,-2.116610,2.652439,-20.241377,7.479392,22.630506,25.461195,-1.710517,3.153591,-19.751271
Niobrara WY,50,4,8,56,27,WY,2484,2484,2492,2487,...,28.286853,-22.235458,5.212510,-12.457304,-0.401687,0.000000,28.286853,-22.235458,5.212510,-12.457304
Park WY,50,4,8,56,29,WY,28205,28205,28258,28476,...,5.419867,-3.851113,-4.301075,7.533086,6.627419,10.293989,6.835246,-2.372561,-2.787097,9.039703
Platte WY,50,4,8,56,31,WY,8667,8667,8677,8703,...,-0.917484,9.612084,3.640501,-15.441807,4.948216,5.160846,-1.032169,9.726513,3.754266,-15.327424
Sheridan WY,50,4,8,56,33,WY,29116,29116,29146,29285,...,4.380275,3.312643,0.732564,3.617117,2.498674,8.494012,5.424802,4.383397,1.898007,4.745391
Sublette WY,50,4,8,56,35,WY,10247,10247,10243,10145,...,-39.617486,-14.725636,-20.104544,-18.527945,-20.894644,16.148645,-39.519906,-14.626138,-19.903498,-18.324341
Sweetwater WY,50,4,8,56,37,WY,43806,43806,43589,44028,...,-5.408401,-12.362119,-13.695727,-20.009453,1.004371,16.069304,-5.297573,-12.228954,-13.472670,-19.784375
Teton WY,50,4,8,56,39,WY,21294,21294,21297,21474,...,18.906083,13.904572,1.045319,-4.712087,0.374085,2.270516,20.314950,15.720137,3.179512,-2.637040
Uinta WY,50,4,8,56,41,WY,21118,21118,21102,20918,...,-7.856582,-14.184397,-11.033821,-9.761493,-17.705854,-5.439580,-8.713663,-14.948540,-11.753418,-10.434699
Washakie WY,50,4,8,56,43,WY,8533,8533,8544,8470,...,-1.184904,-17.315500,2.644231,-11.467198,-11.872576,-2.129296,-1.658866,-17.793169,2.163462,-11.950027
Weston WY,50,4,8,56,45,WY,7208,7208,7182,7112,...,12.229407,1.533956,6.107294,2.212084,-12.452777,-7.617973,12.791678,1.952308,6.662503,2.765104

In [381]:
# lofc = []
# for colname in listofcols:
#     lofc.append( colname[:-4])
#     #print(colname)

# lofc = list(set(lofc))
# lofc

In [390]:
#coest2016alldata = pd.read_csv()

#coest2016alldata.filter(regex='2010').columns

lofc = []
for colname in coest2016alldata.filter(regex='2016').columns:
    lofc.append( colname) #.replace('2010', ''))
    #print(colname)

lofc = list(set(lofc))
#lofc

['NATURALINC2016',
 'RBIRTH2016',
 'INTERNATIONALMIG2016',
 'RDOMESTICMIG2016',
 'RINTERNATIONALMIG2016',
 'DEATHS2016',
 'RNATURALINC2016',
 'DOMESTICMIG2016',
 'NETMIG2016',
 'POPESTIMATE2016',
 'BIRTHS2016',
 'RNETMIG2016',
 'RDEATH2016',
 'RESIDUAL2016',
 'GQESTIMATES2016',
 'NPOPCHG_2016']

In [391]:
#output_names = [name for name if (name[0] =='R')]
# https://stackoverflow.com/questions/10134372/get-a-list-of-names-which-start-with-certain-letters

names = lofc
first_letters = ['R']
output_names = [name for name in names if (name[0] in first_letters)]


try:
    output_names.remove( 'RESIDUAL2016')
except ValueError:
    pass

#output_names

['RBIRTH2016',
 'RDOMESTICMIG2016',
 'RINTERNATIONALMIG2016',
 'RNATURALINC2016',
 'RNETMIG2016',
 'RDEATH2016']

In [417]:

xpop = 'RESIDUAL2016'
    
    
    
def makedf (xpop):
    #print (xpop[:-4])
    df  = coest2016alldata.filter( regex = xpop[:-4] ) #.max()
    df = df.reset_index()
    
    df = pd.melt(df, id_vars='CTYNAME',  var_name=xpop+'Year', value_name=xpop)
    df['Year'] = df[xpop+'Year'].str[-4:]
    df['Year'] = pd.to_datetime(df['Year'], format='%Y-%m')
    del df[xpop+'Year']
    df.columns.values[0] = 'county'
    return df

RNETMIG = makedf('RNETMIG2016')
RNETMIG

dflist = []
for colnames in output_names:
    dflist.append(makedf(colnames))
    
#dflist[1]

               county  RDOMESTICMIG2016       Year
0          Autauga AL          5.836523 2011-01-01
1          Baldwin AL         14.768069 2011-01-01
2          Barbour AL         -1.133994 2011-01-01
3             Bibb AL         -5.395092 2011-01-01
4           Blount AL          1.807391 2011-01-01
5          Bullock AL        -22.392893 2011-01-01
6           Butler AL         -5.025607 2011-01-01
7          Calhoun AL         -6.672199 2011-01-01
8         Chambers AL         -2.496072 2011-01-01
9         Cherokee AL          6.109510 2011-01-01
10         Chilton AL         -1.212357 2011-01-01
11         Choctaw AL        -14.353370 2011-01-01
12          Clarke AL         -6.938083 2011-01-01
13            Clay AL        -10.450686 2011-01-01
14        Cleburne AL         -3.539114 2011-01-01
15          Coffee AL          0.993374 2011-01-01
16         Colbert AL          0.146815 2011-01-01
17         Conecuh AL          0.303007 2011-01-01
18           Coosa AL        -31.910754 2011-01-01
19       Covington AL          6.748652 2011-01-01
20        Crenshaw AL          2.017291 2011-01-01
21         Cullman AL         -1.516159 2011-01-01
22            Dale AL        -10.728610 2011-01-01
23          Dallas AL        -15.443483 2011-01-01
24          DeKalb AL          0.491118 2011-01-01
25          Elmore AL          2.092692 2011-01-01
26        Escambia AL         -3.031055 2011-01-01
27          Etowah AL         -1.121307 2011-01-01
28         Fayette AL         -4.957135 2011-01-01
29        Franklin AL         -1.418037 2011-01-01
...               ...               ...        ...
18822     Washburn WI         10.896039 2016-01-01
18823   Washington WI          1.104020 2016-01-01
18824     Waukesha WI          3.435107 2016-01-01
18825      Waupaca WI         -3.093043 2016-01-01
18826     Waushara WI          4.522540 2016-01-01
18827    Winnebago WI         -0.771835 2016-01-01
18828         Wood WI         -2.431777 2016-01-01
18829       Albany WY         -6.654877 2016-01-01
18830     Big Horn WY         -0.916819 2016-01-01
18831     Campbell WY        -20.787479 2016-01-01
18832       Carbon WY          0.128320 2016-01-01
18833     Converse WY        -17.536476 2016-01-01
18834        Crook WY          1.881973 2016-01-01
18835      Fremont WY         -4.690001 2016-01-01
18836       Goshen WY        -16.307168 2016-01-01
18837  Hot Springs WY         -9.974533 2016-01-01
18838      Johnson WY        -13.237275 2016-01-01
18839      Laramie WY          4.689764 2016-01-01
18840      Lincoln WY         12.359046 2016-01-01
18841      Natrona WY        -20.241377 2016-01-01
18842     Niobrara WY        -12.457304 2016-01-01
18843         Park WY          7.533086 2016-01-01
18844       Platte WY        -15.441807 2016-01-01
18845     Sheridan WY          3.617117 2016-01-01
18846     Sublette WY        -18.527945 2016-01-01
18847   Sweetwater WY        -20.009453 2016-01-01
18848        Teton WY         -4.712087 2016-01-01
18849        Uinta WY         -9.761493 2016-01-01
18850     Washakie WY        -11.467198 2016-01-01
18851       Weston WY          2.212084 2016-01-01

[18852 rows x 3 columns]

In [393]:

RDEATH  = coest2016alldata.filter( regex = 'RDEATH' ) #.max()
RDEATH = RDEATH.reset_index()
RDEATH = pd.melt(RDEATH, id_vars='CTYNAME',  var_name='DeathYear', value_name='deaths')
RDEATH['Year'] = RDEATH['DeathYear'].str[6:]
RDEATH['Year'] = pd.to_datetime(RDEATH['Year'], format='%Y-%m')
del RDEATH['DeathYear']
RDEATH.head()

              CTYNAME     deaths       Year
0          Autauga AL   9.218433 2011-01-01
1          Baldwin AL   9.868812 2011-01-01
2          Barbour AL  11.632586 2011-01-01
3             Bibb AL  12.149922 2011-01-01
4           Blount AL   9.871136 2011-01-01
5          Bullock AL  12.214306 2011-01-01
6           Butler AL  12.492222 2011-01-01
7          Calhoun AL  11.227583 2011-01-01
8         Chambers AL  12.950211 2011-01-01
9         Cherokee AL  11.911623 2011-01-01
10         Chilton AL  10.842588 2011-01-01
11         Choctaw AL  11.657559 2011-01-01
12          Clarke AL  11.654421 2011-01-01
13            Clay AL  15.313158 2011-01-01
14        Cleburne AL  11.618978 2011-01-01
15          Coffee AL  10.092682 2011-01-01
16         Colbert AL  12.314073 2011-01-01
17         Conecuh AL  14.317097 2011-01-01
18           Coosa AL  14.096078 2011-01-01
19       Covington AL  12.890980 2011-01-01
20        Crenshaw AL  11.815562 2011-01-01
21         Cullman AL  11.309054 2011-01-01
22            Dale AL   9.355189 2011-01-01
23          Dallas AL  12.501867 2011-01-01
24          DeKalb AL  10.987006 2011-01-01
25          Elmore AL   8.884545 2011-01-01
26        Escambia AL  11.497106 2011-01-01
27          Etowah AL  12.995663 2011-01-01
28         Fayette AL  14.929725 2011-01-01
29        Franklin AL  13.171992 2011-01-01
...               ...        ...        ...
18822     Washburn WI  12.818869 2016-01-01
18823   Washington WI   8.205557 2016-01-01
18824     Waukesha WI   8.433000 2016-01-01
18825      Waupaca WI  14.131338 2016-01-01
18826     Waushara WI  10.455781 2016-01-01
18827    Winnebago WI   8.537315 2016-01-01
18828         Wood WI  10.232590 2016-01-01
18829       Albany WY   4.794655 2016-01-01
18830     Big Horn WY  10.085014 2016-01-01
18831     Campbell WY   6.786500 2016-01-01
18832       Carbon WY   8.854100 2016-01-01
18833     Converse WY   7.856341 2016-01-01
18834        Crook WY   8.872160 2016-01-01
18835      Fremont WY  11.935928 2016-01-01
18836       Goshen WY  10.229042 2016-01-01
18837  Hot Springs WY  14.643463 2016-01-01
18838      Johnson WY   8.902946 2016-01-01
18839      Laramie WY   8.703710 2016-01-01
18840      Lincoln WY   6.390789 2016-01-01
18841      Natrona WY   8.932182 2016-01-01
18842     Niobrara WY   8.438819 2016-01-01
18843         Park WY   8.902738 2016-01-01
18844       Platte WY   9.379468 2016-01-01
18845     Sheridan WY  11.083642 2016-01-01
18846     Sublette WY   5.904510 2016-01-01
18847   Sweetwater WY   6.189651 2016-01-01
18848        Teton WY   3.761024 2016-01-01
18849        Uinta WY   6.443547 2016-01-01
18850     Washakie WY  11.225783 2016-01-01
18851       Weston WY  10.645652 2016-01-01

[18852 rows x 3 columns]

In [431]:
# #http://rstudio-pubs-static.s3.amazonaws.com/217450_4fabdb443de345efbc493cf0161ac51d.html

# DEATHS = coest2016alldata.filter( like = 'DEATHS' ) #.max()
# DEATHS = DEATHS.reset_index()
# DEATHS = pd.melt(DEATHS, id_vars='CTYNAME',  var_name='DeathYear', value_name='deaths')
# DEATHS['Year'] = DEATHS['DeathYear'].str[6:]
# DEATHS = DEATHS [DEATHS['Year'] !='2010']
# DEATHS['Year'] = pd.to_datetime(DEATHS['Year'], format='%Y-%m')
# del DEATHS['DeathYear']
# DEATHS = DEATHS.pivot_table(index=['Year'], columns=['CTYNAME'], values='deaths').fillna(0)
# DEATHS = DEATHS.pct_change()
# DEATHS = DEATHS.reset_index()
# DEATHS = pd.melt(DEATHS, id_vars='Year',  var_name='CTYNAME', value_name='deaths')
# DEATHS

In [387]:
#coest2016alldata.head()
#coest2016alldata [coest2016alldata.filter( like = 'INTERNATIONALMIG' ) ['INTERNATIONALMIG2016']  ==   42607.000000]

#.max()

In [561]:
Zip_Zhvi_AllHomes_county = pd.read_csv('County_MedianListingPricePerSqft_AllHomes.csv')
Zip_Zhvi_AllHomes_county.dropna(thresh=40,inplace= True)  
Zip_Zhvi_AllHomes_county["RegionName"] = Zip_Zhvi_AllHomes_county["RegionName"] + ' '+ Zip_Zhvi_AllHomes_county["State"]
Zip_Zhvi_AllHomes_county.head()
Zip_Zhvi_AllHomes_countyT= Zip_Zhvi_AllHomes_county.transpose()
Zip_Zhvi_AllHomes_countyT.drop(Zip_Zhvi_AllHomes_countyT.index[1:6], inplace= True)
Zip_Zhvi_AllHomes_countyT.columns = Zip_Zhvi_AllHomes_countyT.iloc[0]
Zip_Zhvi_AllHomes_countyT.drop(Zip_Zhvi_AllHomes_countyT.index[0], inplace= True)
#Zip_Zhvi_AllHomes_countyT = Zip_Zhvi_AllHomes_countyT.reset_index()
Zip_Zhvi_AllHomes_countyT.index =  pd.to_datetime(Zip_Zhvi_AllHomes_countyT.index, format='%Y-%m')
Zip_Zhvi_AllHomes_countyT['month'] = pd.DatetimeIndex(Zip_Zhvi_AllHomes_countyT.index).month
Zip_Zhvi_AllHomes_countyT = Zip_Zhvi_AllHomes_countyT.loc[Zip_Zhvi_AllHomes_countyT['month'] == 1]
Zip_Zhvi_AllHomes_countyT = Zip_Zhvi_AllHomes_countyT.pct_change()
del Zip_Zhvi_AllHomes_countyT['month']
Zip_Zhvi_AllHomes_countyT.head()
Zip_Zhvi_AllHomes_countyT = Zip_Zhvi_AllHomes_countyT.reset_index()
Zip_Zhvi_AllHomes_countyT = pd.melt(Zip_Zhvi_AllHomes_countyT,  id_vars='index', var_name='county', value_name='price')
Zip_Zhvi_AllHomes_countyT.head()

       index          county  price
0 2010-01-01  Los Angeles CA    NaN
1 2011-01-01  Los Angeles CA    NaN
2 2012-01-01  Los Angeles CA    NaN
3 2013-01-01  Los Angeles CA    NaN
4 2014-01-01  Los Angeles CA    NaN

In [562]:
#Zip_Zhvi_AllHomes_countyT['index'] =  pd.to_datetime(Zip_Zhvi_AllHomes_countyT['index'], format='%Y-%m')

#Zip_Zhvi_AllHomes_countyT.rename(columns={'year':'Year'}, inplace=True)
Zip_Zhvi_AllHomes_countyT.columns.values[0] = 'Year'

Zip_Zhvi_AllHomes_countyT.head()

        Year          county  price
0 2010-01-01  Los Angeles CA    NaN
1 2011-01-01  Los Angeles CA    NaN
2 2012-01-01  Los Angeles CA    NaN
3 2013-01-01  Los Angeles CA    NaN
4 2014-01-01  Los Angeles CA    NaN

In [563]:
Zip_Zhvi_AllHomes_countyT[Zip_Zhvi_AllHomes_countyT['county'].str.contains("Queens")]['county'].tolist()

['Queens NY',
 'Queens NY',
 'Queens NY',
 'Queens NY',
 'Queens NY',
 'Queens NY',
 'Queens NY',
 'Queens NY',
 'Queens NY']

In [564]:
#RDEATH #['CTYNAME']

#RNETMIG.rename(columns={'CTYNAME':'county'}, inplace=True)

#RNETMIG[RNETMIG['county'].str.contains("Queens")]['county'].tolist()

#s1 = 

mergeddf = Zip_Zhvi_AllHomes_countyT

for df in dflist:
    #print (df)
    mergeddf = pd.merge(df, mergeddf, how='inner', left_on=['county', 'Year'],right_on=['county', 'Year'])

mergeddf.head()

In [425]:
#new_df = pd.merge(A_df, B_df,  how='left', left_on=['A_c1','c2'], right_on = ['B_c1','c2'])
mergeddf.to_pickle('mergeddf.p')

In [467]:
df = pd.read_csv('http://files.zillowstatic.com/research/public/MortgageRateConventionalFixed.csv')
df = df[df['TimePeriod'] == '06:00']
df['Date'] =  pd.to_datetime(df['Date'], format='%Y-%m')
df['day'] = pd.DatetimeIndex(df.Date).day
df['month'] = pd.DatetimeIndex(df.Date).month
df['year'] = pd.DatetimeIndex(df.Date).year

df
#df[df['day'] == 1]
dffirstday = df[['Date', 'day', 'month']]
dffirstday

#dffirstday.groupby('month')['day'].idxmin()

#df.groupby(['year', 'month'])['day'].idxmin()

dffirstday = dffirstday.ix[df.groupby(['year', 'month'])['day'].idxmin()]['Date']
dffirstday = pd.DataFrame(dffirstday)
dffirstday.head()

D:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:17: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated

           Date
0    2011-06-01
1056 2011-07-01
2064 2011-08-01
3168 2011-09-01
4224 2011-10-03

In [553]:
df = pd.read_csv('http://files.zillowstatic.com/research/public/MortgageRateConventionalFixed.csv')
df['Date'] =  pd.to_datetime(df['Date'], format='%Y-%m')
df = df[df['TimePeriod'] == '06:00']
mergeddfrates = pd.merge(dffirstday, df, how='left', left_on='Date' ,right_on='Date')
del mergeddfrates['TimePeriod']
mergeddfrates.to_pickle('mergeddfrates')
mergeddfrates.head()
#df[df['Date'].isin(dffirstday['Date'].tolist())]
#mergeddfrates = df[['Date'==dffirstday.Date.]]

        Date  MortgageRateConventionalFixed
0 2011-06-01                           4.37
1 2011-07-01                           4.53
2 2011-08-01                           4.42
3 2011-09-01                           4.04
4 2011-10-03                           3.85

In [554]:
from datetime import datetime
datestring = "February 2015"
dt = datetime.strptime(datestring, '%B %Y')
print (dt.year, dt.month, dt.day)

2015 2 1

In [555]:
#Unemployment rate
df = pd.read_csv('output.csv')
df['County'] = df['County'].str.replace(' County','')
df['County'] = df['County'].str.replace('County','')
df = df.replace({"State": states})
df['County'] = df['County']+' '+ df['State']
df['Year'] = df['Month'] + ' ' +df['Year'].astype(str)
df['Year']=  pd.to_datetime(df['Year'], format='%B %Y')
del df['State']
del df['Month']
df = df.pivot_table(index=['Year'], columns=['County'], values='Rate').fillna(0)
#pivot will put county into columns

df = df.pct_change()
df = df.reset_index()
df = pd.melt(df, id_vars='Year',  var_name='county', value_name='Rate')
df

             Year        county      Rate
0      1990-01-01  Abbeville SC       NaN
1      1990-02-01  Abbeville SC -0.028571
2      1990-03-01  Abbeville SC  0.000000
3      1990-04-01  Abbeville SC -0.191176
4      1990-05-01  Abbeville SC  0.000000
5      1990-06-01  Abbeville SC  0.163636
6      1990-07-01  Abbeville SC  0.453125
7      1990-08-01  Abbeville SC -0.311828
8      1990-09-01  Abbeville SC -0.109375
9      1990-10-01  Abbeville SC  0.157895
10     1990-11-01  Abbeville SC  0.030303
11     1990-12-01  Abbeville SC -0.044118
12     1991-01-01  Abbeville SC  0.692308
13     1991-02-01  Abbeville SC -0.209091
14     1991-03-01  Abbeville SC -0.103448
15     1991-04-01  Abbeville SC  0.102564
16     1991-05-01  Abbeville SC  0.081395
17     1991-06-01  Abbeville SC -0.075269
18     1991-07-01  Abbeville SC  0.058140
19     1991-08-01  Abbeville SC -0.219780
20     1991-09-01  Abbeville SC -0.098592
21     1991-10-01  Abbeville SC  0.015625
22     1991-11-01  Abbeville SC  0.107692
23     1991-12-01  Abbeville SC -0.083333
24     1992-01-01  Abbeville SC  0.136364
25     1992-02-01  Abbeville SC  0.000000
26     1992-03-01  Abbeville SC -0.106667
27     1992-04-01  Abbeville SC -0.149254
28     1992-05-01  Abbeville SC  0.070175
29     1992-06-01  Abbeville SC  0.262295
...           ...           ...       ...
934710 2014-07-01    Ziebach SD  0.037500
934711 2014-08-01    Ziebach SD  0.000000
934712 2014-09-01    Ziebach SD -0.349398
934713 2014-10-01    Ziebach SD -0.037037
934714 2014-11-01    Ziebach SD -0.115385
934715 2014-12-01    Ziebach SD  0.000000
934716 2015-01-01    Ziebach SD  0.021739
934717 2015-02-01    Ziebach SD  0.085106
934718 2015-03-01    Ziebach SD -0.058824
934719 2015-04-01    Ziebach SD  0.020833
934720 2015-05-01    Ziebach SD -0.061224
934721 2015-06-01    Ziebach SD  0.434783
934722 2015-07-01    Ziebach SD  0.090909
934723 2015-08-01    Ziebach SD -0.041667
934724 2015-09-01    Ziebach SD -0.434783
934725 2015-10-01    Ziebach SD -0.051282
934726 2015-11-01    Ziebach SD  0.081081
934727 2015-12-01    Ziebach SD -0.225000
934728 2016-01-01    Ziebach SD  0.000000
934729 2016-02-01    Ziebach SD  0.290323
934730 2016-03-01    Ziebach SD -0.150000
934731 2016-04-01    Ziebach SD  0.117647
934732 2016-05-01    Ziebach SD -0.026316
934733 2016-06-01    Ziebach SD  0.405405
934734 2016-07-01    Ziebach SD  0.134615
934735 2016-08-01    Ziebach SD -0.050847
934736 2016-09-01    Ziebach SD -0.357143
934737 2016-10-01    Ziebach SD -0.027778
934738 2016-11-01    Ziebach SD  0.000000
934739 2016-12-01    Ziebach SD -0.028571

[934740 rows x 3 columns]

In [556]:
#Steps to make data ready
# 1) Pull data and drop na if there are many nas, in this case I dropped more than 40
# 2) Transpose or Pivot to convert rows into columns. 
#this was needed because the columns had the years 2010, 2011, 2012, etc 
# 3) Other computations like playing with Date and converting data time
#Only when the index is date time, it is safe to apply time series functions
# 4) Melt the data again to get the final three columns of date, county and and the row you are looking for
# 5) Join the data using inner join on two columns
Zip_Zhvi_AllHomes_county = pd.read_csv('County_MedianListingPricePerSqft_AllHomes.csv')
Zip_Zhvi_AllHomes_county.dropna(thresh=40,inplace= True)  
Zip_Zhvi_AllHomes_county["RegionName"] = Zip_Zhvi_AllHomes_county["RegionName"] + ' '+ Zip_Zhvi_AllHomes_county["State"]
Zip_Zhvi_AllHomes_countyT= Zip_Zhvi_AllHomes_county.transpose()
Zip_Zhvi_AllHomes_countyT.drop(Zip_Zhvi_AllHomes_countyT.index[1:6], inplace= True)
Zip_Zhvi_AllHomes_countyT.columns = Zip_Zhvi_AllHomes_countyT.iloc[0]
Zip_Zhvi_AllHomes_countyT.drop(Zip_Zhvi_AllHomes_countyT.index[0], inplace= True)
#Zip_Zhvi_AllHomes_countyT = Zip_Zhvi_AllHomes_countyT.reset_index()
Zip_Zhvi_AllHomes_countyT.index =  pd.to_datetime(Zip_Zhvi_AllHomes_countyT.index, format='%Y-%m')
Zip_Zhvi_AllHomes_countyT['month'] = pd.DatetimeIndex(Zip_Zhvi_AllHomes_countyT.index).month
# Zip_Zhvi_AllHomes_countyT = Zip_Zhvi_AllHomes_countyT.loc[Zip_Zhvi_AllHomes_countyT['month'] == 1]
Zip_Zhvi_AllHomes_countyT = Zip_Zhvi_AllHomes_countyT.pct_change()
del Zip_Zhvi_AllHomes_countyT['month']
Zip_Zhvi_AllHomes_countyT.head()
Zip_Zhvi_AllHomes_countyT = Zip_Zhvi_AllHomes_countyT.reset_index()
Zip_Zhvi_AllHomes_countyT = pd.melt(Zip_Zhvi_AllHomes_countyT,  id_vars='index', var_name='county', value_name='price')
Zip_Zhvi_AllHomes_countyT = Zip_Zhvi_AllHomes_countyT.dropna()
#Zip_Zhvi_AllHomes_countyT.columns.values[0] = 'Year'
Zip_Zhvi_AllHomes_countyT['Year'] = Zip_Zhvi_AllHomes_countyT['index']
del Zip_Zhvi_AllHomes_countyT['index']
Zip_Zhvi_AllHomes_countyT['Year'].head()

47   2013-12-01
48   2014-01-01
49   2014-02-01
50   2014-03-01
51   2014-04-01
Name: Year, dtype: datetime64[ns]

In [557]:
mergeddf = pd.merge(Zip_Zhvi_AllHomes_countyT, df, how='inner', left_on=['county', 'Year'],right_on=['county', 'Year'])
mergeddf = mergeddf.dropna()
mergeddf.head()

           county     price       Year      Rate
0  Los Angeles CA -0.002933 2013-12-01 -1.000000
1  Los Angeles CA -0.015903 2014-01-01       inf
2  Los Angeles CA  0.011462 2014-02-01 -0.032967
3  Los Angeles CA  0.009370 2014-03-01 -0.022727
4  Los Angeles CA  0.027544 2014-04-01 -0.093023

In [560]:
mergeddf.to_pickle('mergeddf.p')

In [573]:
intrate = pd.read_pickle('intrate.p')
intrate

#['Month']==3

,Year,Month,Day,Federal Funds Target Rate,Federal Funds Upper Target,Federal Funds Lower Target,Effective Federal Funds Rate,Real GDP (Percent Change),Unemployment Rate,Inflation Rate
0,1954,7,1,NaN,NaN,NaN,0.80,4.6,5.8,NaN
1,1954,8,1,NaN,NaN,NaN,1.22,NaN,6.0,NaN
2,1954,9,1,NaN,NaN,NaN,1.06,NaN,6.1,NaN
3,1954,10,1,NaN,NaN,NaN,0.85,8.0,5.7,NaN
4,1954,11,1,NaN,NaN,NaN,0.83,NaN,5.3,NaN
5,1954,12,1,NaN,NaN,NaN,1.28,NaN,5.0,NaN
6,1955,1,1,NaN,NaN,NaN,1.39,11.9,4.9,NaN
7,1955,2,1,NaN,NaN,NaN,1.29,NaN,4.7,NaN
8,1955,3,1,NaN,NaN,NaN,1.35,NaN,4.6,NaN
9,1955,4,1,NaN,NaN,NaN,1.43,6.7,4.7,NaN
10,1955,5,1,NaN,NaN,NaN,1.43,NaN,4.3,NaN
11,1955,6,1,NaN,NaN,NaN,1.64,NaN,4.2,NaN
12,1955,7,1,NaN,NaN,NaN,1.68,5.5,4.0,NaN
13,1955,8,1,NaN,NaN,NaN,1.96,NaN,4.2,NaN
14,1955,9,1,NaN,NaN,NaN,2.18,NaN,4.1,NaN
15,1955,10,1,NaN,NaN,NaN,2.24,2.4,4.3,NaN
16,1955,11,1,NaN,NaN,NaN,2.35,NaN,4.2,NaN
17,1955,12,1,NaN,NaN,NaN,2.48,NaN,4.2,NaN
18,1956,1,1,NaN,NaN,NaN,2.45,-1.5,4.0,NaN
19,1956,2,1,NaN,NaN,NaN,2.50,NaN,3.9,NaN
20,1956,3,1,NaN,NaN,NaN,2.50,NaN,4.2,NaN
21,1956,4,1,NaN,NaN,NaN,2.62,3.4,4.0,NaN
22,1956,5,1,NaN,NaN,NaN,2.75,NaN,4.3,NaN
23,1956,6,1,NaN,NaN,NaN,2.71,NaN,4.3,NaN
24,1956,7,1,NaN,NaN,NaN,2.75,-0.3,4.4,NaN
25,1956,8,1,NaN,NaN,NaN,2.73,NaN,4.1,NaN
26,1956,9,1,NaN,NaN,NaN,2.95,NaN,3.9,NaN
27,1956,10,1,NaN,NaN,NaN,2.96,6.7,3.9,NaN
28,1956,11,1,NaN,NaN,NaN,2.88,NaN,4.3,NaN
29,1956,12,1,NaN,NaN,NaN,2.94,NaN,4.2,NaN
...,...,...,...,...,...,...,...,...,...,...
874,2015,1,1,NaN,0.25,0.00,0.11,2.0,5.7,1.6
875,2015,2,1,NaN,0.25,0.00,0.11,NaN,5.5,1.7
876,2015,3,1,NaN,0.25,0.00,0.11,NaN,5.4,1.8
877,2015,4,1,NaN,0.25,0.00,0.12,2.6,5.4,1.8
878,2015,5,1,NaN,0.25,0.00,0.12,NaN,5.5,1.7
879,2015,6,1,NaN,0.25,0.00,0.13,NaN,5.3,1.8
880,2015,7,1,NaN,0.25,0.00,0.13,2.0,5.2,1.8
881,2015,8,1,NaN,0.25,0.00,0.14,NaN,5.1,1.8
882,2015,9,1,NaN,0.25,0.00,0.14,NaN,5.0,1.9
883,2015,10,1,NaN,0.25,0.00,0.12,0.9,5.0,1.9
884,2015,11,1,NaN,0.25,0.00,0.12,NaN,5.0,2.0
885,2015,12,1,NaN,0.25,0.00,0.24,NaN,5.0,2.1
886,2015,12,16,NaN,0.50,0.25,NaN,NaN,NaN,NaN
887,2016,1,1,NaN,0.50,0.25,0.34,0.8,4.9,2.2
888,2016,2,1,NaN,0.50,0.25,0.38,NaN,4.9,2.3
889,2016,3,1,NaN,0.50,0.25,0.36,NaN,5.0,2.2
890,2016,4,1,NaN,0.50,0.25,0.37,1.4,5.0,2.1
891,2016,5,1,NaN,0.50,0.25,0.37,NaN,4.7,2.2
892,2016,6,1,NaN,0.50,0.25,0.38,NaN,4.9,2.2
893,2016,7,1,NaN,0.50,0.25,0.39,3.5,4.9,2.2
894,2016,8,1,NaN,0.50,0.25,0.40,NaN,4.9,2.3
895,2016,9,1,NaN,0.50,0.25,0.40,NaN,4.9,2.2
896,2016,10,1,NaN,0.50,0.25,0.40,1.9,4.8,2.1
897,2016,11,1,NaN,0.50,0.25,0.41,NaN,4.6,2.1
898,2016,12,1,NaN,0.50,0.25,0.54,NaN,4.7,2.2
899,2016,12,14,NaN,0.75,0.50,NaN,NaN,NaN,NaN
900,2017,1,1,NaN,0.75,0.50,0.65,NaN,4.8,2.3
901,2017,2,1,NaN,0.75,0.50,0.66,NaN,4.7,2.2
902,2017,3,1,NaN,0.75,0.50,NaN,NaN,NaN,NaN
903,2017,3,16,NaN,1.00,0.75,NaN,NaN,NaN,NaN